[2021-10-11 18:34] marler8997 opened #1 "executables can't be launched from explorer"
Looks like the resulting executables can't be launched from Windows explorer.  My guess is because they can't find the corresponding assets which live relative to the sample directory.

I suggest that the samples instead use the executable directory to find the assets.  You can use `std.fs.selfExePath` for this.

[2021-10-11 20:11] michal-z commented on #1
Hm, not sure if I get it.
When I run from explorer, isn't CWD C:/.../zig-out/bin ?

[2021-10-11 20:27] michal-z commented on #1
On my system it looks like this:
- when I run with ```zig build run``` CWD is where build.zig is
- when I run from explorer CWD is where .exe is

[2021-10-11 20:28] marler8997 commented on #1
Ah you're right.  But I think I found the error, this looks like it might be an issue with the zig build system.

This only happens on the first build.  The first time I run `zig build`, I get the `content/shaders` directory but no files in it (except `.gitkeep`).  The second time I run `zig build`, then the shader files are installed.  Observe:

[code]

[2021-10-11 20:34] michal-z commented on #1
But wait, I do:
[code]
Shouldn't this be enough?

[2021-10-11 20:47] #1 closed, assigned to nobody

[2021-10-11 20:47] gonutz opened #3 "Samples do not compile"
I have tried using zig 0.9.0 from master but that gave me an error. So I tried zig 0.8.1 and it gave me another error, this one:

[code]

[2021-10-11 20:48] marler8997 commented on #1
Note this issue exists in at least some of the other projects.  Would you like me to submit a PR for the rest of them or would you like to?

[2021-10-11 20:54] gonutz commented on #3
I am unpacking the latest version, my last one was a couple of weeks old...

[2021-10-11 21:13] gonutz commented on #3
Cool thanks, I will be back to try it out later :-)

[2021-10-11 21:22] gonutz commented on #3
Oh and then after that the zig build outputs:

[code]

[2021-10-11 21:25] michal-z commented on #3
Did you try a clean Clone after you installed Git LFS? It looks like you have corrupted files on your disk.

[2021-10-11 21:28] gonutz commented on #3
Another typical thing that might of course have occurred is that Windows does not like me to download DLLs and have me use them. Why let me trust your stuff if they can instead treat me like a child. So I do not know if Windows is getting in my way at this point.

[2021-10-11 21:32] michal-z commented on #3
I don't want to depend on anything outside the repo (except Zig compiler). This project must be fully standalone.

[2021-10-11 22:41] slimsag opened #4 "you may want to re-think using Git LFS (or GitHub)"
👋 super cool stuff, just wanted to say that you might want to re-think using Git LFS on GitHub in specific.

The free tier only grants you 1GB of data transfer, even for open source repos. After that, Git LFS will be blocked unless you want to pay for bandwidth. https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage

I ran into this with a

[2021-10-12 01:22] marler8997 opened #5 "can't build on linux"
Maybe this is not a requirement but it looks like I run into an error when trying to run "dxc.exe" when building on linux.  If building on linux is not a requirement then feel free to close.  If it is, then I'd be willing to help out getting this to work.  Could you provide documentation on how dxc is built and where it comes from (put somewhere in the repo itself)?

[2021-10-12 06:34] #5 closed, assigned to nobody

[2021-10-16 13:26] elisee opened #7 "Running any sample fails with "panic: HRESULT error detected (0x80070057, error.E_INVALIDARG)""
Hi! Looks like a cool project, thanks for sharing it, and good luck on your full-time zig gamedev adventure!

I cloned the repo, initialized LFS, got the latest zig nightly and ran `build_all_samples.bat` to completion with no errors. When I try to run any sample though, I get the following error:

[code]

I'm running on Windows 10 x64 laptop with an NVIDIA GeForce RTX 2060 GPU (and an Intel UHD G

[2021-10-16 13:32] michal-z commented on #7
Looks like your system tries to use Intel graphics to run the sample? What error do you get when running for example triangle sample?

[2021-10-16 14:45] michal-z commented on #7
I'm using HLSL 6.6 so it is expected for old drivers to fail.

[2021-10-16 17:04] gonutz commented on #3
I have not had the time unfortunately. I might give it a try later today, maybe tomorrow. Please leave this open for a couple of days, I wish I had more time for interesting projects like this, but I currently don't :-)

[2021-10-18 12:20] michal-z commented on #3
Is it possible that you have latest zig.exe in PATH but older Zig stdlib in PATH?

To be precise, `zig.exe` and `lib` directory needs to be in PATH.

C:\Development\zig
  lib
  zig.exe

Sorry if that's obvious but I don't have other idea...

[2021-10-18 12:41] michal-z commented on #3
You don't need Windows SDK or anything from MSVC.

[2021-10-18 19:23] DexterLagan commented on #3
That's the problem. I get

zig env
{
 "zig_exe": "C:\\Users\\dexte\\Apps\\Zig\\zig.exe",
 "lib_dir": "C:\\Users\\dexte\\Apps\\Zig\\lib\\zig",
 "std_dir": "C:\\Users\\dexte\\Apps\\Zig\\lib\\zig\\std",
 "global_cache_dir": "C:\\Users\\dexte\\AppData\\Local\\zig",
 "version": "0.9.0-dev.1399+6534f2ef4"
}

[2021-10-18 19:37] DexterLagan commented on #3
Fixed by clearing zip folder and unzipping again. Compiles woohoo
zig env
{
 "zig_exe": "C:\\Users\\dexte\\Apps\\Zig\\zig.exe",
 "lib_dir": "C:\\Users\\dexte\\Apps\\Zig\\lib",
 "std_dir": "C:\\Users\\dexte\\Apps\\Zig\\lib\\std",
 "global_cache_dir": "C:\\Users\\dexte\\AppData\\Local\\zig",
 "version": "0.9.0-dev.1399+6534f2ef4"
}

Thanks a lot sir. Can't wait to play with the samples.

[2021-10-21 18:07] #3 closed

[2021-12-08 13:23] gmodarelli opened #9 "HLSL DynamicResources and SM 6.6 support"
Hello there. I wanted to try the new DynamicResources feature introduced with Shader Model 6.6, and I had a quick go at enabling them in `graphics.zig`.

Here's the link to the specs: https://microsoft.github.io/DirectX-Specs/d3d/HLSL_SM_6_6_DynamicResources.html

And here's the link to the commit on my fork: https://github.com/gmodarelli/zig-gamedev/commit/3d895bd9a916c40d1b2f934cc23f669ea8dcc3b1

[2021-12-08 13:48] michal-z commented on #9
Thanks for this work. I was thinking about it, in fact at the beginning of the project HLSL 6.6 was a requirement, then I changed it to HLSL 6.3.

According to wikipedia HLSL 6.6 is supported on:
Shader Model 6.6 — GCN 1+, Kepler+, Skylake+, DirectX 12 (11_0+) with WDDM 2.9.

Do you know which version of Windows added WDDM 2.9?

[2021-12-08 13:53] gmodarelli commented on #9
I don't know how accurate this Wiki entry is, but it looks like it's still part of the Insider Preview program

https://en.wikipedia.org/wiki/Windows_Display_Driver_Model#WDDM_2.9

[2021-12-08 14:02] gmodarelli commented on #9
I have both the latest Windows Update and NVidia Drivers and I'm still on WDDM 2.7

![image](https://user-images.githubusercontent.com/579525/145221316-3625716e-5541-4f47-9c2a-2a0e2268549e.png)

[2021-12-08 14:08] michal-z commented on #9
According to this: https://devblogs.microsoft.com/directx/hlsl-shader-model-6-6/

Using Agility SDK (which we do use) and new graphics driver is enough (NVIDIA 466.11+, AMD 21.4.1+).

"To give Shader Model 6.6 a try, developers will need a few tools. To compile shaders using Shader Model 6.6, you need the latest DirectX Shader Compiler release. To run those compiled shaders, you’ll need the **Dire

[2021-12-08 14:17] gmodarelli commented on #9
Oh, I see. Just to make sure I got this right :) We'd be able to compile and use SM 6.6, but people will not be necessarily able to run them if they don't have the DirectX 12 Agility SDK installed, even though they might have the correct graphics drivers.

Or is the DirectX 12 Agility SDK only necessary to compile SM 6.6?

[2021-12-08 14:26] michal-z commented on #9
Agility SDK comes with zig-gamedev - this means that we ship D3D12Core.dll in d3d12 folder next to the executable. Most of DirectX 12 Runtime is there in this D3D12Core.dll.

D3D12Core.dll implements latest DX12 features (including HLSL 6.6 support) so even if end user runs the app on older version of Windows it will still work thanks to D3D12Core.dll that app ships.

Here is more info: https://de

[2021-12-08 14:31] michal-z commented on #9
In other words, to compile and run with HLSL 6.6 all you need is pretty new driver (NVIDIA 466.11+, AMD 21.4.1+).

Everything else comes with zig-gamedev.

[2021-12-08 14:38] michal-z commented on #9
In this case, can you please make a PR from this?

[2021-12-08 14:38] gmodarelli commented on #9
Thank you for the detailed explanation 😊

I'll make a PR now!

[2021-12-11 13:29] maxxnino opened #11 "Can't open gltf file from sketchfab"
I try simple raytracer example, but when I load different scene from [sketchfab](https://sketchfab.com/3d-models/fantasy-game-inn-192bf30a7e28425ab385aef19769d4b0) I always get assertion error
https://github.com/michal-z/zig-gamedev/blob/dda5a9f203bfb4ce4b64ff005641c3f976f1a64d/samples/simple_raytracer/src/simple_raytracer.zig#L180

[2021-12-11 14:27] maxxnino commented on #11
Import to blender and export back to gltf fixed the problem, seem like something is wrong with sketchfab

[2021-12-11 14:27] #11 closed

[2021-12-23 12:16] Jack-Ji opened #14 "cbullet compile failed on linux"
Hi @michal-z, I'm trying to compile cbullet on linux/x64, got following error:

[code]

My zig version is latest release 0.9.0.

[2021-12-23 13:07] michal-z commented on #14
That's interesting. Thanks for the report. I will look at it.

[2021-12-23 13:27] michal-z commented on #14
Just double checked it on Windows - it works fine. Can you try changing requirements from 16 to 8?

[2021-12-23 13:51] Jack-Ji commented on #14
Sure, I’ll try again tomorrow. BTW, I’m using linkLibC/linkLibCpp instead of linkSystemLibrary("c")/linkSystemLibrary("c++"), which might make some difference here.

[2021-12-23 13:59] michal-z commented on #14
I've just checked with linkLibC/linkLibCpp on Windows - still works fine. I didn't know that there is a difference between linkLibC/linkLibCpp and linkSystemLibrary. Do you know more details about this?

[2021-12-23 14:01] michal-z commented on #14
BTW, I'm wondering if I could use Zig cross-compilation capabilities to repro this problem on Windows...

[2021-12-23 14:10] Jack-Ji commented on #14
My guess is linkLibC/linkLibCpp will use zig’s builtin c/c++ library, which should make cross-compilation more convenient.

[2021-12-23 14:18] michal-z commented on #14
Just checked Zig sources, linkSystemLibrary("c") calls linkLibC and linkSystemLibrary("c++") calls linkLibCpp. So, there is no difference.

[code]

[2021-12-24 03:15] Jack-Ji commented on #14
Just tried to change several requirements from 16 to 8, compilation is ok now, haven't written any sample code yet.

[code]

[2021-12-24 10:37] michal-z commented on #14
Thanks! It should work I think. I will make sure and set it to 8 in main branch.

[2021-12-25 00:55] michal-z commented on #14
I've changed requirements to 8. It is enough, all should work fine. Please let me know once you get it running on Linux.

[2022-01-05 16:52] michal-z commented on #14
@Jack-Ji Any news regarding this?

[2022-01-05 19:12] Jack-Ji commented on #14
Sorry it took so long, you know, busy jobs. I just began writing the sample
code, hopefully can be done within 24 hours.

Michal Ziulek ***@***.***>于2022年1月6日 周四00:52写道：

[2022-01-05 19:21] michal-z commented on #14
@Jack-Ji  Sure, no rush. Thanks!

[2022-01-06 11:24] Jack-Ji commented on #14
Hi @michal-z, just finished a sample, collision test works perfect. Although Constraint isn't tested, I think it's safe to close the issue.
![image](https://user-images.githubusercontent.com/1416077/148375692-12a39eaa-54b2-4d89-950e-96f07187d788.png)

[2022-01-06 17:45] michal-z commented on #14
@Jack-Ji Great, thanks for the info!

[2022-01-06 17:45] #14 closed

[2022-01-07 00:49] Jack-Ji commented on #14
Yeah, it’s open repo on github, feel free to check out. Though it’s not mature enough to do serious work yet, cause I’m really a newbie in gamedev territory :-)
https://github.com/Jack-Ji/zplay

[2022-01-16 19:57] SentientNr6 opened #16 "It looks like tracy integrations has issues with names and colors"
Hi,

I was trying the tracy integration but it seems to work different than expected. Having never used tracy before and being new to Zig I might be doing something wrong though.

When I extend the intro2 sample with the following (silly) code

[code]

I get the following->

![image](https://user-images.githubusercontent.com/68496371/149675315-ceb0c68c-93d4-464d-ae24-bbb49c158997.png)

The timings

[2022-01-16 20:34] michal-z commented on #16
Hi and thanks for the report. I will look at it tomorrow. Do you use Tracy 0.7.8 or some newer build from master branch?

[2022-01-17 08:11] SentientNr6 commented on #16
Thanks Michal, I use Tracy 0.7.8 release.

From: Michal ***@***.***>
Sent: Sunday, January 16, 2022 21:34
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [michal-z/zig-gamedev] It looks like tracy integrations has issues with names and colors (Issue #16)

Hi and thanks for the report. I will look at it tomorrow. Do you use Tracy 0.7.8 or some newer build from master branch?

—
Reply t

[2022-01-17 09:31] michal-z commented on #16
Colors and names are fine in debug builds but breaks as you report in ```-Drelease-fast=true``` builds. I will investigate it further.

[2022-01-17 09:49] #16 closed

[2022-01-28 19:23] francescoalemanno opened #17 "Question: what are the criteria for getting a function into zmathlib?"
Hallo!! Very nice work 💯

I wanted to contribute a few fast approximation for common mathematical functions,
what is the required accuracy for a math function to be accepted into zmath?

Kindest regards,
Francesco

[2022-01-28 21:13] michal-z commented on #17
Hi and thanks!

There are no strict accuracy requirements - we tend to follow DirectXMath C++ library. We can have two versions of the same function, for instance, maxFast(), max(), sin(), sinFast(), etc.

Thanks for interest, feel free to submit PR and we can review/discuss further.

[2022-01-29 11:32] francescoalemanno commented on #17
[code]

very roughly, I took this out of my hyper small mathlib, as soon as I find time I'll make a f32 version and prepare a PR

[2022-01-29 11:50] michal-z commented on #17
Looks fine, thanks.
Note, that zmath is mostly about vectorized versions. Would you be able to SIMD-ify those?

[2022-02-07 10:26] krupitskas opened #22 "Samples wishlist"
Hey! I really love the progress and currently also learning Zig. Maybe you have some paticular samples which you would to code, but just haven't time, so I or community could contribute?

[2022-02-07 11:08] michal-z commented on #22
Thanks!

Yes of course, such contribution would be very welcome. Also, it is great to hear that you are learning Zig!

Some ideas:
* intro application that renders few different meshes with different orientations (we could show how to use various matrix/quaternion function from zmath lib)
* intro application that renders a lot of small meshes using instancing (transforms would be fetched from larg

[2022-02-07 11:49] krupitskas commented on #22
I think I pick instancing and add it as an intro 6, thanks.

[2022-02-08 13:03] michal-z commented on #17
@francescoalemanno Hi, do you still plan to work on this or should I close the issue?

[2022-02-10 10:35] michal-z commented on #17
Closing for now - feel free to re-open.

[2022-02-10 10:35] #17 closed

[2022-02-12 15:20] DerTee opened #26 "bullet_physics_test: build error because Git symlinks on Windows are flaky"
Low priority, zig version 0.10.0-dev.625+e42b5e76b, Windows 10

I get a build error in bullet_physics_test (all other samples build & run fine):
[code]

That's broken for me since 1c5c3438a668680062f68e739d4ad568e94bd66b  Added zbullet (wip).

I found out that it's a git + windows + directory symlink problem, because everything works fine if I delete the Git placeholder file `zig-gamedev\samples\b

[2022-02-12 15:25] michal-z commented on #26
Yeah, I was suspecting problems with symlinks. I will figure out something.
Many thanks for the report.

[2022-02-12 17:04] michal-z commented on #26
This is now fixed.

[2022-02-12 17:04] #26 closed

[2022-02-12 17:21] DerTee commented on #26
Awesome, thanks!

[2022-02-15 02:12] sridher opened #28 "Triangle sample build faild on linux"
Building main branch with latest zig on linux(nixos)

[code]

Zig version

[code]

[2022-02-15 09:00] michal-z commented on #28
Hi and thanks for the report.

This project won't compile on Linux - it requires Windows 10. Please see here: https://github.com/michal-z/zig-gamedev#requirements

[2022-02-15 09:01] #28 closed

[2022-02-22 19:20] charlie-ht opened #31 "dxc.exe cannot start or run due to incompatibilities with 64-bit versions of windows"
I followed the instructions saying that a `zig build` should be sufficient, but I get this,

![image](https://user-images.githubusercontent.com/14251608/155203172-9ff20784-49ea-431e-a414-c7176d540dec.png)

[code]

[code]
[code]

Please let me know if I can provide better information, this project looks great!

[2022-02-22 19:24] michal-z commented on #31
Hi and thanks for the report!

Did you clone the repo or downloaded a zip?
This looks like an issue with Git LFS... I will investigate further.

[2022-02-22 19:55] charlie-ht commented on #31
Ah, thanks for hint, I didn't follow the README properly.
All works now, amazing job!

[2022-02-22 19:55] #31 closed

[2022-03-20 01:14] prime31 opened #33 "col-major matrices"
Awesome work on the lib! I was wondering if you had any plans to support col-major matrices for those of use who aren't on Windows and are stuck without DirectX.

[2022-03-20 07:11] michal-z commented on #33
Thanks!
Note that you can already use the lib with other APIs, for example when using OpenGL below code should work jus fine:

[code]
There are also right-handed version of some functions for OpenGL and Vulkan - `perspectiveRh`, `lookAtRh`.

[2022-03-20 10:49] Srekel opened #34 "Purpleish background on PBR demo"
I'm guessing this is not intentional? :)

![image](https://user-images.githubusercontent.com/1578924/159158712-58e08784-144b-4fd2-8b5b-cd3301796fd1.png)

[2022-03-20 11:01] michal-z commented on #34
Interesting. What graphics card do you have?

[2022-03-20 11:04] Srekel commented on #34
Radeon RX 580 should have reasonably up to date drivers. Let me know if I can help in debugging it. :)

(Not at all a priority for me, I just noticed it and thought I'd report it)

[2022-03-20 11:16] michal-z commented on #34
Thanks. I will look at it on Monday. Other samples work fine?

[2022-03-20 12:33] Srekel commented on #34
Yeah, bindless has the same issue but otherwise works fine.
![image](https://user-images.githubusercontent.com/1578924/159162422-73f80953-82e9-40c8-baac-34f3ad6d4546.png)

[2022-03-24 11:18] michal-z commented on #34
@Srekel Can you please update to the latest code and see if it still happens? For now I did this change only for `physically_based_rendering`.

[2022-03-24 11:22] Srekel commented on #34
Success :)
![image](https://user-images.githubusercontent.com/1578924/159905978-363ac00f-51ee-47ec-8b24-7a432b829264.png)

[2022-03-24 11:24] michal-z commented on #34
Awesome :)

[2022-03-24 11:29] #34 closed

[2022-03-24 11:32] michal-z commented on #33
Closing for now - feel free to re-open if you want to discuss it further.

[2022-03-24 11:32] #33 closed

[2022-03-26 15:37] Srekel commented on #22
I made a simple terrain generator/viewer with sokol, aiming to get something similar up and running using zig-gamedev, can try to make a demo using that (though I'm very much not a graphics coder so going to say right now that it won't be... perfect :D ).

(A bit preoccupied with getting something else up and running first so could be a while. Happy to share my sokol project if that would be helpf

[2022-03-28 08:13] michal-z commented on #22
@Srekel Sounds interesting. Your demo contribution would be very welcome - it doesn't need to be perfect - feel free to submit a PR and we can take if from there.

Regarding, your sokol project, I'm afraid I won't be able to help - I haven't used it and I need to focus `zmath v0.3` and `audio_experiments` demo.

[2022-03-28 08:55] michal-z opened #35 "Add DirectStorage bindings"
https://www.nuget.org/packages/Microsoft.Direct3D.DirectStorage/1.0.0

[2022-03-28 08:57] michal-z opened #36 "Add dxc compiler bindings"
https://github.com/microsoft/DirectXShaderCompiler/blob/master/include/dxc/dxcapi.h

[2022-03-28 09:07] michal-z opened #37 "Complete zmath v0.3"
- [x] `adjustSaturation()`
- [x] `adjustContrast()`
- [x] `rgbToHsl()`
- [x] `hslToRgb()`
- [x] `hsvToRgb()`
- [x] `rgbToHsv()`
- [x] `fft()`
- [x] `ifft()`
- [x] `rgbToSrgb()`
- [x] `srgbToRgb()`
- [x] improve docs (README and code comments)

[2022-03-28 09:08] michal-z opened #38 "Complete 'audio experiments' demo"
Use zmath.iff() to visualize music in frequency domain.

[2022-03-28 09:12] michal-z opened #39 "Add FastNoise2 generator to znoise"
https://github.com/Auburn/FastNoise2

[2022-03-28 09:16] michal-z opened #40 "Add libtess2/fast-poly2tri bindings to zmesh"
https://github.com/memononen/libtess2
https://github.com/MetricPanda/fast-poly2tri

[2022-03-28 09:32] michal-z opened #41 "Instanced line rendering demo - nice and fast lines in 3D"
https://wwwtyro.net/2019/11/18/instanced-lines.html

[2022-03-28 11:19] michal-z opened #42 "Add initial network support using ENet library"
https://github.com/lsalzman/enet
http://enet.bespin.org/index.html
https://github.com/networknext/enet

Zig bindings:
https://github.com/SpexGuy/Zig-ENet

[2022-03-29 09:54] #37 closed

[2022-03-30 12:02] #42 closed

[2022-04-01 07:30] michal-z opened #43 "Integrate mach/gpu (nice cross-platform 3D graphics based on WebGPU)"
https://github.com/hexops/mach
https://github.com/hexops/mach/issues/189

[2022-04-05 22:17] #43 closed

[2022-04-13 15:52] timcash opened #45 "mac webgpu build error"
New to zig so probably a problem on my end.
with zig 0.9.1
on mac 12.3

[code]
results in the following
[code]

[2022-04-13 15:55] michal-z commented on #45
Hi, you will need zig 0.10 (master) to compile the project.

[2022-04-13 18:15] timcash commented on #45
success!

[2022-04-13 18:15] #45 closed

[2022-04-13 22:31] kamidev opened #46 "triangle_wgpu-run sample stopped working on Mac"
Hi, great work on your library!

Looks like there is a regression on Mac after adding imgui. I am using zig 0.10.0-dev.1768+9c509f152. Here is the last commit that displays triangles for me

[code]
The next commit crashes. I don't have a Windows machine available right now and haven't been able to debug it yet. Any idea what is missing?

[code]

[2022-04-14 06:59] michal-z commented on #46
Hi, thanks for the report.

It looks like you don't have [Git LFS](https://git-lfs.github.com/) installed.
Please install and re-clone.

[2022-04-14 07:30] kamidev commented on #46
Oh, of course. Thanks!

[2022-04-14 07:34] #46 closed

[2022-04-17 07:25] wilsonk opened #47 "wgpu examples fail on Linux/MacOS"
Building the examples on Linux and MacOS today with an updated zig (as of April 17, 2022) works, but the examples won't actually load/run because of these errors:

Linux:
[code]

MacOS:
[code]

The Roboto-medium font is in each directory and I can see that relative addressing is being used to find the font file...not sure why this doesn't work. I tried a different font, just in case the Roboto fil

[2022-04-17 09:28] michal-z commented on #47
Hi,

You need to install Git LFS extension and re-clone.

Thanks,
Michal

On Sun, Apr 17, 2022, 09:25 wilsonk ***@***.***> wrote:

[2022-04-17 10:17] wilsonk commented on #47
Ugh, I really thought I had lfs installed on these machines (I do on my other Mac and a couple other Linux boxes, but not these newer ones). Sorry to bother.

[2022-04-17 10:19] wilsonk commented on #47
Just as a note. The examples both build and run on MacOS and Linux (using release-fast on Linux, as there is a UB without it, as you mentioned on the Discord). Close when you like  :)

[2022-04-17 10:28] michal-z commented on #47
Thanks for confirmation and interest in the project!

[2022-04-17 10:28] #47 closed

[2022-04-19 11:49] gmodarelli opened #49 "Shader Interop"
Hello there, I don't think this is really an "issue", but I wanted to know if there are plans to introduce some form of shader interoperability between Zig and HLSL.

I haven't had a need for it until yesterday and my first idea was to declare `struct`s and `DEFINE`s in a C header file and import it in Zig and include it into my HLSL shaders.

Any thoughts on it?
Thank you :)

[2022-04-19 12:44] michal-z commented on #49
Hi!

Yes, that should work pretty well. I was using this technique in C++ projects: https://github.com/michal-z/ImageBasedPBR/blob/master/Source/CPUAndGPUCommon.h

You just need to be careful when it comes to offsets of particular struct fields. Sometimes you will have to add padding for C++ structs.

Please try it and let me know if you hit an issue - will try to help.

Thanks,
Michal

[2022-04-19 13:06] gmodarelli commented on #49
Thanks for the link!

Absolutely, I'm already adding padding to zig's structs so that I don't forget when I move them to HLSL 😄
![image](https://user-images.githubusercontent.com/579525/164010779-f17b3f63-600e-4dcb-b39e-53dffc3090ea.png)

I hope I can share something soon here as I'm working on a new sample!

[2022-04-19 13:25] michal-z commented on #49
Great, can't wait!

[2022-04-21 13:55] skrax opened #50 "Bug | zmath: segfault on returning an anonymous struct directly"
OS: MacOS
System: Intel i7 (Macbook Pro 2019)
Zig Version: 0.9.1
------------------------------------
EXC_BAD_ACCESS (code=EXC_I386_GPFLT)

I am not sure if this is a library issue:

[code]

[2022-04-21 13:59] michal-z commented on #50
What compiler version do you use?

[2022-04-21 15:35] michal-z commented on #50
@skrax Can you also run `zig build test` in the project root directory? There are some tests for `rotationZ` and they work fine on my machine (Windows, Linux, x86_64).

[2022-04-21 15:37] skrax commented on #50
@michal-z the tests run fine on 0.9.1
I will try checking out 0.10 later

[2022-04-21 15:39] michal-z commented on #50
I see, thanks. Test uses `rotationZ` like this:

[code]

[2022-04-23 10:22] wilsonk commented on #50
Hello Michal and skrax,

I am getting the error below when trying to run the tests on my M1 Mac mini (Big Sur) with zig master branch built today (0.10.0-dev.1860+7b090df66):

[code]
I get the error with or without ``` -Dtarget=aarch64-macos-gnu ``` and in Debug or Release. This does seem to be a problem with zig/macos though, as per this thread: https://github.com/ziglang/zig/issues/10318

Perhap

[2022-04-23 14:07] michal-z commented on #50
Hi and thanks for the report.

@wilsonk I think that this is a different issue than reported by @skrax .

zmath itself does not use `sincos` provided by Zig - only tests do (zmath has it's own simple implementation of scalar `sincos`).

Tests run fine for @skrax so I think he is hitting an compiler bug specific to his use case.

I think that you are indeed hitting [ziglang/zig#10318](https://githu

[2022-04-24 06:32] wilsonk opened #51 "Undefined symbol _sincosf on an M1 Mac mini with Big Sur installed"
Hello Michal,

Just opening a separate issue from https://github.com/michal-z/zig-gamedev/issues/50, as suggested.

I am getting the error below when trying to run the tests on my M1 Mac mini (Big Sur) with zig master branch built today (0.10.0-dev.1860+7b090df66):

[code]
I get the error with or without -Dtarget=aarch64-macos-gnu and in Debug or Release. This seems to be a problem with zig/macos,

[2022-04-24 09:04] wilsonk opened #52 "MacOS doesn't show imgui interface"
Hello again Michal,

I just pulled down zig-gamedev (version 2684288794864ab1f59acd40db576b02b00764c4) on Win10 (with a Vega64 card, bottom left), Arch Linux (R9 380 card, bottom right) and an M1 Mac (Big Sur, top right). Everything seemed to build and run fine at first glance (except the error with tests previously mentioned in https://github.com/michal-z/zig-gamedev/issues/51), but then I clued

[2022-04-24 09:21] michal-z commented on #52
MacOS version should have imgui interface. Unfortunately I don't have MacOS machine to properly test it but I got report that interface is there on MacOS, see: https://discord.com/channels/605571803288698900/964863116296994926/964960941567541269

Can you try `procedural_mesh_wgpu` sample?

On Windows, dragging (and resizing) the window blocks normal processing so this is normal behavior on this OS

[2022-04-24 09:48] wilsonk commented on #52
Yes, I saw that comment from rudedogg (actually that was part of the reason I tried the examples on my Mac), but I am not sure which OS version/arch he is running on. I have posted a quick question in that thread to see if he can enlighten me.

I actually tried both the triangle and procedural examples with the same results on all three machines...ie. the Mac has no imgui interface for either the

[2022-04-24 11:47] timcash commented on #52
No gui for me on macbook air m1 v12.3. I'll see if I can offer more insight.

[2022-04-24 12:27] michal-z commented on #52
Thanks for the info, looks like a regression in Dawn. Is there a Renderdoc or something similar for Metal? Yeah, would be great if you could see what's happening there.

[2022-04-24 12:56] michal-z commented on #50
@skrax Can you share more context? How do you call `rotationZ`?

[2022-04-24 13:06] timcash commented on #52
These are new areas for me. To verify my understanding ( Webgpu -> dawn -> Apple Metal ) the renderdoc on apple metal would point to a debugging strategy?

[2022-04-24 13:13] michal-z commented on #52
Yes, your understanding is correct.
We use standard WebGPU imgui renderer: https://github.com/ocornut/imgui/blob/master/backends/imgui_impl_wgpu.cpp

Renderdoc on Metal could show you the GPU state, shaders and drawcalls that the imgui renderer is doing. This info could give as an idea why the result of the drawcalls don't show up on the screen.

[2022-04-24 13:20] michal-z commented on #52
@timcash @wilsonk I did a small change regarding gui renderer. Can you please re-test?

[2022-04-24 14:04] timcash commented on #52
<img width="1251" alt="Screen Shot 2022-04-24 at 9 04 02 AM" src="https://user-images.githubusercontent.com/118253/164980317-2c4091bd-1f78-44ad-be30-0deec8172660.png">

[2022-04-24 14:20] timcash commented on #52
I am starting by using these links.
Dawn -> OS bugs
https://bugs.chromium.org/p/dawn/issues/list?q=OS%3DmacOS&can=2
Metal Dev Docs for debugger in xcode. I would need to compile zig-gamedev in Xcode?
https://developer.apple.com/documentation/metal/debugging_tools/viewing_your_gpu_workload_with_the_metal_debugger

[2022-04-24 14:35] michal-z commented on #52
I have never used MacOS in my life :)
But, I don't think you need to compile zig-gamedev in xcode, try to just open/load the binary in xcode.

[2022-04-24 19:07] timcash commented on #52
<img width="1282" alt="Screen Shot 2022-04-24 at 2 05 34 PM" src="https://user-images.githubusercontent.com/118253/164992400-88330a5a-c54c-4357-9e4e-990df38acb11.png">
Some of what I see.
I see this warning about a texture not being used.
<img width="869" alt="Screen Shot 2022-04-24 at 2 07 18 PM" src="https://user-images.githubusercontent.com/118253/164992466-ae4c7ccd-1fcf-42b7-9e53-763fd59c252e.

[2022-04-24 19:09] kamidev commented on #52
Hi! The imgui interface doesn't show up on my M1 Mac either. I just re-cloned the repo to make sure I had no cache issues.
➜  zig-gamedev git:(main) zig version
0.10.0-dev.1929+963ac6091
➜  zig-gamedev git:(main) zig build procedural_mesh_wgpu-run
[zgpu] High-performance device has been selected:
[zgpu]   Name: Apple M1 Max
[zgpu]   Driver: Metal driver on macOS Version 12.3.1 (Build 21E258)
[zgpu

[2022-04-24 19:11] kamidev commented on #52
@timcash How did you setup your gputrace?

[2022-04-24 20:25] michal-z commented on #52
@timcash Nice progress! 512x256 RGBAUnorm texture is a font that should be used by imgui. Please try to find a drawcall that uses that texture.

You should be able to "step" through drawcalls and see what each drawcall adds to the image. The last drawcall is the gui.

[2022-04-25 00:18] timcash commented on #52
<img width="1440" alt="Screen Shot 2022-04-24 at 7 17 36 PM" src="https://user-images.githubusercontent.com/118253/165002850-696b5f6c-d04e-44c0-957c-71e6710c6e00.png">
that texture is solid white in the preview

[2022-04-25 01:17] timcash commented on #52
<img width="1273" alt="Screen Shot 2022-04-24 at 8 15 27 PM" src="https://user-images.githubusercontent.com/118253/165005631-ab9b3fba-8aa0-408e-8e27-ef7b895c1265.png">
found a way to start looking at more detail.

Would dawn's test cover this in some way? so many menus in GPU debuggers... menus everywhere

[2022-04-25 16:02] michal-z commented on #52
There should be two render passes, first for all the geometry and the second one for the gui.
In geometry pass there should be 11 draw calls.
In gui pass there should be two draw calls (white solid texture is fine, I see the same on WIndows in PIX).

![image](https://user-images.githubusercontent.com/11540112/165128111-b3d78ddc-d740-4ed0-8252-11d315afc204.png)

[2022-04-25 17:43] timcash commented on #52
<img width="1270" alt="Screen Shot 2022-04-25 at 12 42 43 PM" src="https://user-images.githubusercontent.com/118253/165144160-32531539-cca2-48ad-b2a0-5becf4a45a62.png">
Ill try that next. Here is the second draw call I think

[2022-04-25 17:57] michal-z commented on #52
Yes, this looks like a second render pass (gui). Is there a call to `drawIndexedPrimitives()` in this second render pass (there should be 2 such calls)?

[2022-04-25 18:55] michal-z commented on #52
Strange. Can you comment out first render pass (geometry) and draw only gui? You will need to change `load_op` from '.load' to `.clear` on line 296.

[2022-04-25 20:36] wilsonk commented on #52
I quickly tried changing the gui ```load_op``` to ```.clear``` on Linux and my M1. The gui works on Linux but didn't show up on the M1.

[2022-04-26 09:00] michal-z commented on #52
At this point I think it would be best to use normal CPU debugger and step into `zgpu.gui.draw(pass)`. Two draw calls should be issued from there.

Also, @timcash looks like there are some warnings (purple triangles with !) reported by GPU debugger - is there more info about them?

[2022-04-26 17:58] michal-z commented on #52
On MacOS you should probably use xcode or vs code.

[2022-04-26 18:51] kamidev commented on #52
GDB doesn't work on M1 Mac. But XCode comes with LLDB, which does work and is what Apple prefers. See https://developer.apple.com/library/archive/documentation/IDEs/Conceptual/gdb_to_lldb_transition_guide/document/lldb-command-examples.html#//apple_ref/doc/uid/TP40012917-CH3-SW1.

For actual debugging, I think VS Code is easier to work with. Here is a recipe for debugging Zig using VS Code: https:

[2022-04-26 18:58] kamidev commented on #52
To use the recipe for stepping through the "procedural_mesh_wgpu" code, first make some small changes to "tasks.json" and "launch.json". This worked for me. Obviously, your path to the exe will be different:

[code]

[code]

[2022-04-26 19:41] timcash commented on #52
<img width="1026" alt="Screen Shot 2022-04-26 at 2 40 46 PM" src="https://user-images.githubusercontent.com/118253/165379305-80d4b5af-1c2b-43bc-82f1-dcfd59ed2e97.png">
got LLDB going

[2022-04-26 20:14] timcash commented on #52
<img width="1438" alt="Screen Shot 2022-04-26 at 3 13 53 PM" src="https://user-images.githubusercontent.com/118253/165384409-d4f1863b-4a6b-4dc2-bde4-b199c10e6e69.png">
I see some comments about errors here :)

[2022-04-26 21:03] timcash commented on #52
It steps through all the code, what am I looking for?

[2022-04-26 21:39] michal-z commented on #52
You can build Dawn from source and try to understand what the error is:
`zig build procedural_mesh_wgpu -Ddawn-from-source=true`
You will be able to step into `wgpuQueueWriteBuffer`.

This call should copy vertex data from CPU to GPU, looks like this code errors out on M1 and data is not copied.

[2022-04-27 14:36] michal-z commented on #52
Set `minimal_debug_symbols` to `false` (`libs/mach-gpu-dawn/build.zig` line 71).

[2022-04-27 21:24] timcash commented on #52
<img width="1440" alt="Screen Shot 2022-04-27 at 4 21 50 PM" src="https://user-images.githubusercontent.com/118253/165633528-52cf0705-b682-491f-901a-b1171e6fd541.png">
this buffer is invalid? does not look good.

[2022-04-27 21:26] timcash commented on #52
<img width="1439" alt="Screen Shot 2022-04-27 at 4 26 16 PM" src="https://user-images.githubusercontent.com/118253/165633855-f6eed480-6c4f-4eac-94c5-820a12957ef2.png">
may have been optimized out?

[2022-04-27 21:51] michal-z commented on #52
I think it is optimized out.

But, I've noticed this:
size_copy_: 0
in Terminal window.

This is suspicious, there are 3 copy operations (in order):
- vertex buffer data (CPU -> GPU)
- index buffer data (CPU -> GPU)
- uniform buffer data (CPU -> GPU)

The third copy size should be 64 bytes, why is it 0?

[2022-04-27 22:22] timcash commented on #52
the size_copy_ is mine from debugging yeah, Ill take a look. trying to find uniform. Will it help to print out the size?

[2022-04-27 22:32] timcash commented on #52
<img width="1440" alt="Screen Shot 2022-04-27 at 5 32 02 PM" src="https://user-images.githubusercontent.com/118253/165642147-31c3b016-2c0b-4fbc-978f-fc2b8a540a50.png">
is this helpful?

[2022-04-28 10:07] michal-z commented on #52
Thanks for your work.

Unfortunately I still don't know what's going on. Is Dawn hitting/reporting an error when you step through code?

[2022-04-28 12:23] skrax commented on #50
@michal-z I just built zig master and it seems to be working great so far. It is in fact a compiler issue, as we have suspected. It seems like SIMD structures are an issue on Apple as of version 0.9.1.

[2022-04-28 12:32] #50 closed

[2022-04-28 21:16] michal-z commented on #52
@timcash I would suggest stepping into `wgpuRenderPassEncoderDrawIndexed` line 455 in `imgui_impl_wgpu.cpp` and looking for an error.

I think that the second draw call fails and this is why we can't see it in GPU debugger.

[2022-04-28 23:27] wilsonk commented on #51
After the reorganization of the compiler_rt_math functions (https://github.com/ziglang/zig/commit/360ecc1a2f72967f3a3882b3327e130bdc4e18c0) the error above can be fixed by changing line 2699 of zmath.zig to just use ```@sin```.  Then all tests pass on MacOS with ```-Dtarget=aarch64-macos-gnu``` in fast/safe/small modes. Strangely there is still a failure in debug mode...perhaps when exiting the te

[2022-04-29 06:52] michal-z commented on #51
Thanks. We now use `@sin()` instead of `std.math.sin()`. Let's keep this open until we figure out the crash on exit.

[2022-04-29 17:32] timcash commented on #52
<img width="883" alt="Screen Shot 2022-04-29 at 12 32 32 PM" src="https://user-images.githubusercontent.com/118253/165994379-2f1b0947-5db6-4be9-b345-6172d8bb2c93.png">
I see nullptr errors like this

[2022-04-29 17:33] timcash commented on #52
Oh now I see this
[code]

[2022-04-29 17:37] timcash commented on #52
<img width="973" alt="Screen Shot 2022-04-29 at 12 36 41 PM" src="https://user-images.githubusercontent.com/118253/165994947-9f468832-efd2-446b-bd6d-e4cadb2797ec.png">
"this" with invalid address

[2022-04-29 17:40] timcash commented on #52
<img width="1041" alt="Screen Shot 2022-04-29 at 12 39 21 PM" src="https://user-images.githubusercontent.com/118253/165995402-25f4da47-039c-4d28-bad1-91824d25a352.png">
"self" becomes "this" on line 120 in `RenderEncoderBase.cpp`?

[2022-04-29 17:55] michal-z commented on #52
This looks like some optimized out values. Notice that this is the common code used also on Windows and Linux so it should work fine. I would expect an error on a lower-level in Metal backend. Step into lower layers until you find actual Metal draw call.

[2022-04-29 17:55] timcash commented on #52
<img width="1049" alt="Screen Shot 2022-04-29 at 12 54 37 PM" src="https://user-images.githubusercontent.com/118253/165997522-44a1e7f8-ced2-41c1-a097-53250548874a.png">
I also see could not evaluate DW_OP_entry_value

[2022-04-29 19:34] timcash commented on #52
stepping though for an hour. nothing so far.

[2022-04-29 20:54] michal-z commented on #52
@timcash @wilsonk @kamidev Can you fetch the latest code and re-test?

[2022-04-30 02:16] kamidev commented on #52
Re-tested the latest code on M1, using zig 0.10.0-dev.2016+0e49142ce, and have some good news and some bad news. :-)

The latest code didn't run for me without a small change to "libs/zmath/src/zmath.zig".

[code]

As @wilsonk noted in https://github.com/michal-z/zig-gamedev/issues/51 , Zig just [reorganized compiler_rt_math functions](https://github.com/ziglang/zig/commit/360ecc1a2f72967f3a3882b3

[2022-04-30 02:17] kamidev commented on #52
There is still no imgui interface for the mesh example. But triangle_wgpu now displays a read-only menu.
 ﻿﻿
![image](https://user-images.githubusercontent.com/1655/166085583-d61bc7dc-6b83-4ded-94b5-720068bd602f.png)

[2022-04-30 07:04] wilsonk commented on #52
I get the same result: no gui for mesh but there is one for triangle example

[2022-04-30 07:21] michal-z commented on #52
That's super strange, because both samples use the same code.
Could you try to remove Zig cache and rebuild? Maybe it's some Zig caching issue...

[2022-04-30 07:41] wilsonk commented on #52
Removed all caches in local dir and ~/.cache/zig and the procedural_mesh example still has no gui...very strange

[2022-04-30 07:56] michal-z commented on #52
I have one more idea will submit a potential fix later today.

On Sat, Apr 30, 2022, 09:41 wilsonk ***@***.***> wrote:

[2022-04-30 09:00] michal-z commented on #52
Please try now.

[2022-04-30 09:04] michal-z commented on #51
Can you please re-test with latest code and zig-0.10.0-dev.2017 or newer?

[2022-04-30 09:28] kamidev commented on #52
Sorry. Doesn't work for me.

![image](https://user-images.githubusercontent.com/1655/166100031-0f692450-7af8-4461-ad05-e75cd9e18ba1.png)

[2022-04-30 09:29] kamidev commented on #52
I tried on an Intel Macbook Pro 2019. It works there:

![image](https://user-images.githubusercontent.com/1655/166100085-98a07f0e-979a-4682-b277-59bbbd443913.png)

[2022-04-30 09:33] kamidev commented on #52
I appreciate your efforts. Let me know if I can test anything else later today.

[2022-04-30 14:57] timcash commented on #52
Took an hour to step through the code. 15 years ago I last used C++ but starting to get familiar with the tooling and syntax again.

[2022-04-30 16:18] kamidev commented on #51
zig version 0.10.0-dev.2023+032c722d2
M1 Max macOS Version 12.3.1 (Build 21E258)

[code]

[2022-04-30 16:24] michal-z commented on #51
Nice, what about debug version?

[2022-04-30 16:38] kamidev commented on #51
[code]

[2022-04-30 16:39] kamidev commented on #51
I get the same result if I build from source, too.

[2022-04-30 16:41] michal-z commented on #52
@kamidev Gui in `triangle_wgpu` should be fully interactable - is this the case on macos?

[2022-04-30 16:51] michal-z commented on #52
Can you please re-test one more time?

[2022-04-30 19:23] kamidev commented on #52
Sorry, the new fix doesn't work for the mesh example. And as far as I can tell, the triangle_wgpu GUI is not interactable at all on M1.

I'll be offline for a few hours but will check in here and on Discord later.

[2022-04-30 21:54] michal-z commented on #52
I did a potential fix for not interactable GUI in `triangle_wgpu`.

[2022-04-30 22:50] kamidev commented on #52
Yes! Triangle_wgpu has a working GUI interface on M1 now.

[2022-04-30 22:54] kamidev commented on #52
Still no GUI for the mesh example, unfortunately.

[2022-04-30 23:19] wilsonk commented on #52
Can confirm the triangle example GUI works here. Still no GUI showing up for the procedural_mesh example...so strange.

[2022-05-01 07:35] michal-z commented on #52
It would be worth trying to comment out/modify first pass (geometry pass) until GUI works.
For example, we could try to remove all draw calls from the first pass and leave only clear operation.
It looks like first pass generates an error internally and causes GUI not to draw.

[2022-05-01 23:44] wilsonk commented on #52
Cleaned caches and rebuilt/reran...procedural example gui still doesn't work. Ugh. Triangle example gui still works.

[2022-05-02 15:41] kamidev commented on #52
Latest zig and zig-gamedev code, clean caches. Same as for@wilsonk: triangle gui still works, mesh gui doesn't show up. Sucks! Will do some step-by-step uncommenting later and report back.

[2022-05-05 09:55] michal-z commented on #52
Hi guys, we now use uniform buffer pool to upload data to the GPU. Can you please re-test both demos?

[2022-05-05 13:40] wilsonk commented on #52
Hmm, very strange here. Both examples build fine here with that same zig compiler on my M1 as @kamidev  is using? Not sure what is going on there. (I built with artifacts in the cache and then cleaned everything and did it again with these same results).

Unfortunately, both examples fail intermittently with this:

[code]

When the triangle example does load successfully then the GUI is there and

[2022-05-05 14:15] kamidev commented on #52
Thanks @wilsonk! Good to know you can still build. My local toolchain has been pretty stable and Zig master is moving really fast right now. So my initial guess was a breaking change upstream. Well, I'll figure it out.

BTW, do you see any pattern for the intermittent failures? How frequent are they? Does it seem like you can trigger them by doing something?

[2022-05-05 14:52] wilsonk commented on #52
No real pattern here. I can run the triangle binary in the zig-out directory and it may work or it may crash...sometimes it works twice and then crashes once, or works three times in a row and then alternates run/crash for a dozen tries...then crash three times in a row!??? Must be a race condition of some sort, I suppose.

[2022-05-05 15:49] michal-z commented on #52
Yeah, looks like a race condition with async buffer mapping. Can't unfortunately repro this on Windows and Linux.
@wilsonk Do you observe those crashes on all OSes?

[2022-05-05 16:54] michal-z commented on #52
Please re-test.

[2022-05-06 05:14] wilsonk commented on #52
Cleaned caches, rebuilt both examples and...woohoo the GUI finally shows up in both examples...HOWEVER they both still crash intermittently!!?! Ugh.

Actually they both crash much more than they run now (7-8 attempts before it runs once! I thought they weren't going to run at all!). But at least the GUI is there when it does run.

Linux/Win have no problems with either example.

[2022-05-06 10:05] michal-z commented on #52
Can you try now?

[2022-05-06 11:02] michal-z commented on #52
Do you see both GUI windows in `procedural mesh (wgpu)`? The first one is non-movable and located in the upper left corner the second one is standard imgui demo window.

[2022-05-06 11:16] michal-z commented on #52
So, that's still an issue - this small non-movable window is not being drawn.

[2022-05-06 12:48] michal-z commented on #52
Two changes:
* faster/better fix for crashes
* bigger and more standard GUI (imgui demo window removed)

[2022-05-06 14:42] kamidev commented on #52
Almost there! Building zig-gamedev successfully again, using zig version: 0.10.0-dev.2103+ac1aaec9c

Triangle sample works and seems to be fully interactive.
Mesh sasmple looks good, same as for @michal-z. But interaction doesn't work yet.

[code]

[code]

[2022-05-06 15:23] michal-z commented on #52
I think that now everything should work expect those errors about buffer mapping.

[2022-05-06 15:41] kamidev commented on #52
Yes, I've tested on both M1 and an Intel Mac now. Seems functional and doesn't crash. Still error messages after closing, though.

[code]

[2022-05-06 16:27] michal-z commented on #52
Can you confirm that GUI text color is green?

[2022-05-06 17:13] kamidev commented on #52
Still blue for me, sorry.

[2022-05-06 18:02] kamidev commented on #52
On M1: right color but wrong place. Impossible to move to the window
On Intel Mac: right color, right place. Impossible to move window, but can minimize it.

[2022-05-06 19:04] michal-z commented on #52
Latest commit should fix GUI element positions but it will break interaction on MacOS M1 (will be fixed soon), cna you confirm this? M1 macos and Intel macos should look the same.

[2022-05-06 19:32] wilsonk commented on #52
On my M1, after cleaning caches, both examples run build/fine. The triangle example has a blue GUI near the middle of the screen that is resizable and accepts input (the same as on Linux), however...the procedural example has the smaller GUI showing, but it is slightly off the top of the screen in the upper left corner, as per the picture just above this comment.

[2022-05-06 20:32] kamidev commented on #52
On M1: right color but still wrong place. Just a sliver of the window is showing in the top right corner. Hard to tell if interaction works, there is almost nothing to click on.

On Intel Mac: right color, right place. Mouse coordinates seem off. But clicking the top left corner of the imgui window works.

[2022-05-06 20:59] michal-z commented on #52
I think that `imgui.ini` file needs to be deleted after rebuilding.

[2022-05-06 21:21] kamidev commented on #52
I tried your latest commit, deleted ingui.ini and cleaned caches.

Still wrong GUI position on M1. Not sure about interaction on Intel, but feels a bit off. Buffer map error messages remain on both M1 and Intel.

[2022-05-08 07:45] kamidev commented on #52
Yes! Now it works. The imgui window is still partially invisible on startup. But you can move it down and it works.

![image](https://user-images.githubusercontent.com/1655/167286748-284c5a18-1daf-4105-bc24-af5317a2bd46.png)

![image](https://user-images.githubusercontent.com/1655/167286754-0eba4fa0-b1ca-4cea-859b-8f1a72850c39.png)

[2022-05-08 07:46] kamidev commented on #52
I am still on Discord, let's continue there.

[2022-05-08 10:12] wilsonk commented on #52
They both work well here (I was having a little mouse slowness before, but I have a very specialized setup so I just assumed it was my problem...seems to be fine now). Same issue with the procedural example, but at least one can grab the GUI element and drag it more onto the viewable surface.

[2022-05-08 10:38] michal-z commented on #52
Yes, this is the best we can get for now. Wrong GUI position seems to be problem related to Zig + AArch64 + macos. Let's leave the issue open and wait for upstream fixes.

[2022-05-08 23:14] kamidev commented on #52
@michal-z Sounds good! I am tracking AArch64 + macos stuff upstream anway. Let's re-test the initial GUI position thing when there are promising changes.

BTW, your last commit fixed the buffer mapping errors on exit. For both M1 and Intel Mac.

[2022-05-10 18:56] wilsonk commented on #52
Yep, it looks good here now also.

[2022-05-10 20:20] michal-z commented on #52
That's great! I'm closing it. Thanks for your help guys to resolve this.

[2022-05-10 20:20] #52 closed

[2022-05-10 21:22] michal-z commented on #49
@gmodarelli Should I close this?

[2022-05-13 16:21] kamidev commented on #51
I just re-checked this with the latest Zig and get the same stacktrace. But perhaps we can narrow it down to an M1-specific problem. There is no exit crash on an Intel Mac.

[code]
[code]

[code]

[2022-05-13 16:55] michal-z commented on #51
Nice find, thanks! @kubkon said he will take a look at this issue at some point in the future.

[2022-05-17 04:18] Srekel opened #59 "triangle_wpgu crashes when pressing alt+printscreen"
It reaches this unreachable:

[code]
On WIndows 10.

[2022-05-17 20:24] michal-z commented on #51
Thanks for looking at it @kubkon !

[2022-05-17 21:07] kubkon commented on #51
Hmm, I don't seem to be able to repro on neither M1 MBA running macOS 11.6.6, nor M1 Pro MBP running macOS 12.4. Is it perhaps an issue with some remnant `zig-cache` perhaps? At this point, I won't be able to help unless I receive a minimum repro and possibly access to the failing environment, or perhaps linker's output logged to a file.

[2022-05-17 21:58] michal-z commented on #51
@wilsonk @kamidev Can you guys help?

[2022-05-17 22:06] garettbass commented on #49
I feel like we could pretty easily provide a generic type, e.g.
[code]
That would insert padding as needed to align with the GPU requirements.

[2022-05-17 22:35] wilsonk commented on #51
MacOS Big Sur 11.6.5 with zig version 0.10.0-dev.2063+49a7ceb5b works fine now for all debug/fast/safe/small for me. That is with a completely cleaned directory and global cache. @kubkon

[2022-05-17 22:36] kamidev commented on #51
Thanks @kubkon! The _sincosf fix is appreciated. The other error again seems to be gone now. I ran with clean caches and reproduced on two machines several times, so I think it was real. But I may be confused. :-) This is the current situation.

[code]
[code]

[2022-05-17 22:54] kubkon commented on #51
Fascinating! Well, don't hesitate to ping if it resurfaces or something else breaks! As for the former, I'll cross-post a link to a PR re macos ABI change once Andrew and I are happy with it. Word of caution tho that it will be breaking since you will most likely need to refer to a macos target as either `aarch64-macos` or `aarch64-macos-none`.

[2022-05-20 15:09] kubkon commented on #51
Just an FYI, the PR changing macOS ABI from `gnu` to `none` ziglang/zig#11684

[2022-05-20 15:53] michal-z commented on #51
Thanks!

[2022-05-22 13:44] hazeycode opened #60 "zgpu doesn't catch vulkan load error"
When running a program using zgpu in a linux environment where vulkan is not available, a "null" adapter is acquired and the code path for handling the error is not reached.

I see 2 problems here:
1. Dawn should fallback to an OpenGL backend (out of scope for zgpu)
2. mach/gpu produces a Null adapter rather than an error and zgpu tries to treat this as valid

The end result is an empty window and

[2022-05-22 20:33] michal-z commented on #60
Thanks for the report.

I think that we shouldn't support OpenGL. It can have different performance characteristic and also, as I understand, it is "best effort" implementation in Dawn.

I have added early check on Linux to make sure that Vulkan driver is installed, if it isn't we print error message and exit.

Please let me know what do you think about this solution.

[2022-05-22 20:40] hazeycode commented on #60
I agree that relying on Dawn's OpenGL backend to function to any acceptable standard will be more pain than it's worth and that requiring Vulkan is best for zgpu.

Looking at the commit, I think it's a good solution, since the user of zgpu can now handle the error however they deem appropriate for the end-user, i.e. present a system dialog.

[2022-05-22 20:40] #60 closed

[2022-05-22 22:42] #59 closed

[2022-05-24 08:11] gmodarelli commented on #49
Yes, this can be closed.

[2022-05-28 22:45] garettbass opened #66 "Can't build `physically_based_rendering_wgpu` on macOS aarch64 with latest zig"
I'm not sure what to make of this.  Perhaps there are breaking changes between `zig 0.10.0-dev.2412` and `0.10.0-dev.2432`?

I'm running this on an M1 MacBook Pro:

[code]

[2022-05-28 22:47] garettbass commented on #66
This issue may be relevant:

[Compiler crashes (exit code 11) on certain padding lengths with packed structs](https://github.com/ziglang/zig/issues/11515)

[2022-05-28 22:51] michal-z commented on #66
There was an ABI breaking change on MacOS. Binary versions of dawn are not compatible for now (it will be fixed in mach). For now you need to compile `dawn` from source: `-Dzgpu-dawn-from-source`.

[2022-05-28 23:03] garettbass commented on #66
I think I am compiling dawn from source here?  Maybe you are suggesting I need to run a different command?

[code]

[2022-05-28 23:03] michal-z commented on #66
Yes you are doing this correctly. Sorry I didn't notice the command.

[2022-05-28 23:04] garettbass commented on #66
I have run this in LLDB, I don't understand the results, but I will add them here.

[2022-05-28 23:06] garettbass commented on #66
First, this is the LLDB command to run the command that `zig build` ran, which `failed with exit code 11`, reformatted to escape spaces in file paths:

[code]

[2022-05-28 23:07] michal-z commented on #66
I don't see any breaking changes between `dev.2412` and `dev.2432` so this looks like a compiler bug. Have you tried to clear zig-cache?

[2022-05-28 23:13] garettbass commented on #66
I tried this now, sadly still fails. 🤷

[code]

[2022-05-28 23:15] michal-z commented on #66
This latest change in `translate_c` could be the cause: https://github.com/ziglang/zig/commit/22cb6938891c73d64b749a2516c8eaf79aa25b03

[2022-05-28 23:17] garettbass commented on #66
Thanks, I will poke around in there to look for suspicious code

[2022-05-28 23:18] michal-z commented on #66
Can you try `0.10.0-dev.2431` (this the latest one from the official download page and it works fine on WIndows).

[2022-05-28 23:19] garettbass commented on #66
This look suspicious to me: `"c_ulong", 32`

[2022-05-28 23:20] garettbass commented on #66
I will try the version you suggested

[2022-05-28 23:21] michal-z commented on #66
Yes, this looks wrong.

[2022-05-28 23:34] garettbass commented on #66
I feel like these pairs shouldn't be hand-coded integer constants, but instead something like this:
[code]

[2022-05-28 23:35] garettbass commented on #66
Building with `0.10.0-dev.2431` as suggested worked!  I can see the sci-fi helmet now.  Thanks for your help.

[2022-05-28 23:35] #66 closed

[2022-05-29 11:17] kamidev commented on #66
Hi @garettbass, I can verify that  on macOS aarch64 using 0.10.0-dev.2431 works well, but 0.10.0-dev.2432 crashes. I built from source and got a little more descriptive errors. @michal-z, it does indeed look related https://github.com/ziglang/zig/commit/22cb6938891c73d64b749a2516c8eaf79aa25b03. Perhaps we should open this issue and either try to fix it or report it upstream?

[code]

[2022-05-29 11:23] michal-z commented on #66
@kamidev The faulting commit has been already reverted https://github.com/ziglang/zig/commit/ee651c3cd358f40f60db0bbcd82ffde99aed9b88

[2022-05-29 11:28] kamidev commented on #66
Sorry, I missed the report upstream. Great catch by @garettbass!

[2022-05-29 11:31] kamidev commented on #66
Running the samples with 0.10.0-dev.2433 work as expected. No surprises there.

[2022-05-29 11:32] michal-z commented on #66
Thanks for checking!

[2022-05-29 20:59] garettbass commented on #66
Thanks for digging in @kamidev.  I tried building zig from source, which took me a while to get right, but ended up with totally different panic results, some index out of range errors elsewhere during compilation.  Perhaps the offending commit had already been reverted by the time I built zig 🤷‍♂️

[2022-05-31 21:23] #51 closed

[2022-06-30 11:26] kamidev opened #76 "Failing audio tests on MacOS"
The sound sample app still works on my M1 Max. But tests are failing.

[code]

[2022-06-30 11:50] michal-z commented on #76
Thank for catching this. Could you run the test again with the latest code?

[2022-06-30 12:53] kamidev commented on #76
[code]

[2022-06-30 13:25] michal-z commented on #76
Zig and aarch64 C ABI issues again...

[2022-06-30 13:27] kamidev commented on #76
Yes, looks that way.

[2022-06-30 14:35] #76 closed

[2022-07-08 21:54] ckrowland opened #78 "Include all Imgui Bindings?"
I currently have a build script working for zgpu with the [Zig-ImGui](https://github.com/SpexGuy/Zig-ImGui) library giving me access to all ImGui bindings. It adds the Zig-ImGui library as another submodule in zgpu. Would this be a direction for the project your interested in? I'm building a personal project with this, and eventually want to integrate the ImPlot library as well.

[2022-07-10 20:56] michal-z commented on #78
Hi, nice work with integrating Zig-ImGui!

I have decided to not use it for now and gradually expose more and more functionality via `zgui`. I think that Zig-ImGui is very nice and I may change my mind in the future but for now I want to continue with `zgui`.

The idea with `zgui` is to build more 'Ziggy' interface with default args (`.{}`), Zig string formatting (`text("{s}", .{str})`) etc.

[2022-07-11 13:33] Avokadoen opened #79 "Tracy calling InitThread() trigger error"
Importing ztracy and calling InitThread causes following error:

[code]

[2022-07-11 13:39] Avokadoen commented on #79
Could not find any mention of it in the release notes at [the release page](https://github.com/wolfpld/tracy/releases), but it seems like this function has indeed been removed

[2022-07-17 18:03] mifopen opened #82 "build of zgpu crashes on new version of zig"
[code]
works on `zig-macos-aarch64-0.10.0-dev.2751+08459ff1c`
crashes on `zig-macos-aarch64-0.10.0-dev.3027+0e26c6149`

The latest version of mach-gpu-dawn build uses
[code]

btw The readme.md tells us that
`Project requires Zig 0.10.0-dev.2412 (master) or newer to compile.`
but I'm wondering what should be the correct wording here. The language is quite unstable and it looks like we need the expl

[2022-07-18 08:03] kamidev commented on #82
I just sent a PR for this: https://github.com/michal-z/zig-gamedev/pull/83, let's see what @michal-z says.

[2022-07-18 11:16] mifopen commented on #82
Although, I'm a little bit uncomfortable with having a "slightly modified" version of the external library in the project and not a properly updated one. It's interesting what @michal-z vision on that

[2022-07-18 12:26] michal-z commented on #82
Thanks for report and for PR. zig-gamedev always tries to follow latest Zig compiler so I will merge @kamidev PR.

[2022-07-21 08:09] #82 closed

[2022-07-24 18:58] hexaflex opened #84 "[zgpu] mach-glfw build fails on fresh install"
I followed the  "getting started" guide in the zgpu readme. I cloned the `zig-gamedev` repository and copied the `zgpu`, `zmath` and `zpool` directories into my project's `vendor` directory. The following happened on the first build attempt:

[code]
After the build I checked the `vendor/zgpu/libs/mach-glfw` directory and noticed the `upstream` directory is empty. The glfw C sources are not present

[2022-07-24 22:19] michal-z commented on #84
Are you sure that you called `zgpu.link(...)` in your build script?

[2022-07-25 09:11] hexaflex commented on #84
Yes. Here's my build script.

[code]

[2022-07-25 11:10] michal-z commented on #84
Glfw uses a submodule so your project needs to be in a git repo.

[2022-07-25 11:16] hexaflex commented on #84
That's a good point. Thanks.

[2022-07-25 11:16] #84 closed

[2022-07-28 07:48] kamidev opened #85 "Error running audio_experiments_wgpu-run on M1 Mac"
Apple M1 Max. macOS Version 12.5 (Build 21G72)
Zig stage1 version 0.10.0-dev.3361

[code]

[code]

[2022-07-28 07:52] kamidev commented on #85
This error only when running other samples projects ending with "wgpu-run", too. Note that 'zig build test' still passes without errors.

[2022-07-28 09:22] #85 closed

[2022-07-28 19:27] #78 closed

[2022-07-28 19:27] #49 closed

[2022-08-22 18:43] vitalspace opened #88 "Help?"
![image](https://user-images.githubusercontent.com/29004070/185995402-34675814-2632-4a51-85a1-400ef7009f0a.png)

[2022-08-22 18:49] michal-z commented on #88
Project requires [Zig 0.10.0-dev.3027 (master)](https://ziglang.org/download/) or newer to compile.

Looks like you are using older version.

[2022-08-22 18:57] vitalspace commented on #88
ty

![image](https://user-images.githubusercontent.com/29004070/185997713-3a9b047b-ba86-46bf-9c79-cc5aff4ce8a9.png)

[2022-08-22 18:57] #88 closed

[2022-08-24 05:42] thomas992 commented on #22
I want an ocean with a skybox and a space demo. I think they are great starting points to add game assets too that do not require a terrain editor to be 'finished'

[2022-08-24 21:45] michal-z commented on #22
@thomas992 Do you want to contribute?

[2022-08-25 19:16] foxnne opened #90 "git error: Filename too long on Windows when using zig-gamedev as a submodule"
Please let me know if this is out-of-scope of zig-gamedev, but I just hit this error trying to test my project on Windows.

My project uses zig-gamedev as a submodule within `src/deps`, but when cloning the project recursively, I get an error:

[code]

It appears that there is a really long filename within `mach-gpu-dawn` that, when combined with being several submodules deep ends up hitting the m

[2022-08-25 19:23] michal-z commented on #90
That strange. I'm working on a Windows machine and haven't seen this error.

Note that you don't really need Dawn and DirectXShaderCompiler submodules - they are only needed when you compile Dawn from source using: `-Dzgpu-dawn-from-source=true`.

Maybe try to remove those submodules from your project?

[2022-08-25 19:26] foxnne commented on #90
Apologies if I'm misunderstanding, but I didn't add those submodules to my project, I simply added `zig-gamedev` as a submodule to my project and cloned recursively, which pulled those submodules in. Is there an intended way to include `zig-gamedev` in my project other than adding as a submodule? I would need to avoid recursively cloning and manage updating submodules one-by-one if I'm understandi

[2022-08-25 19:41] michal-z commented on #90
I'm not sure why git fetches Dawn and DirectXShaderCompiler submodules for you. Those submodules should be only fetched when `-Dzgpu-dawn-from-source=true` is used.

Personally I really don't like submodules and I try to avoid them at all cost :)

I would suggest copying libs that you need from zig-gamedev to your project. Brucelib is using this approach: https://github.com/hazeycode/brucelib

Ple

[2022-08-25 20:09] foxnne commented on #90
I'll follow suit with how Brucelib is doing it then! No problem, just typically when working with dependencies my workflow has been so submodule them so its easy to update them down the road, but I can use a shell script to handle that if need be. I just need to look into how Brucelib handles copying the files in so that `-Dzgpu-dawn-from-source=true` isn't broken because I think just straight cop

[2022-08-25 23:22] #90 closed

[2022-08-26 07:22] thomas992 commented on #22
https://github.com/cosinekitty/astronomy/issues/237
I want to have an accurately positioned and scaled solar system, I am going to start converting parts of Astronomy engine to Zig. I could use the C++ library but I rather have the code in Zig. I should be able to draw individual spheres to represent the planets in the game if the library works as I anticipate. I am thinking that my game will use

[2022-08-31 09:49] michal-z opened #92 "jolt C bindings: Add JPH::TaperedCapsuleShapeSettings"
As an example take a look at `JPH_CapsuleShapeSettings`

[2022-08-31 09:51] michal-z opened #93 "jolt C bindings: Add JPH::CylinderShapeSettings"
As an example take a look at `JPH_CapsuleShapeSettings`

[2022-08-31 15:42] michal-z commented on #90
@foxnne I have decided to remove all submodules from the project. You should now be able to use zig-gamedev as a submodule if you liked this approach.

[2022-08-31 15:46] foxnne commented on #90
Thanks for letting me know! I'll likely continue forward just copying libs into my project as needed as it's more modular and I don't necessarily need everything for a 2D project. But thank you!

[2022-08-31 21:03] michal-z commented on #38
Done!

[2022-08-31 21:03] #38 closed

[2022-09-01 09:34] kamidev opened #94 "Incorrect keyboard navigation in demo apps on MacOS"
Keyboard navigation using 'a' and 'd' move in the wrong direction for app 'bullet_physics_test_wgpu'. Both Intel and ARM Mac.

Keyboard navigation using 'a', 'd', 's' and 'w' move in the wrong direction for app 'audio_experiments_wgpu'. Both Intel and ARM Mac.

Keyboard navigation using 'a', 'd', 's' and 'w' move in the wrong direction for app 'physically_based_rendering_wgpu'. Both Intel and ARM

[2022-09-01 20:33] michal-z commented on #94
Can you please double check that navigation works fine in `procedural_mesh_wgpu`?

[2022-09-02 05:06] kamidev commented on #94
Yes, it does. Both ARM and Intel.

[2022-09-05 12:45] kamidev commented on #94
These bugs are still present using zig 0.10.0-dev.3877 and

[code]

[2022-09-06 06:26] Jack-Ji opened #95 "Any plan on 2D game support?"
Hi @michal-z , I've being following your work closely, nice work!

A quick question, will you consider add libs for 2d games? e.g. box2d/vector graphics/spine animation etc.

I'm asking because I think most indie developers choose 2d over 3d game (at least initially), since a decent 3d game requires way more expertise and amount of work.

[2022-09-06 07:26] michal-z commented on #95
Hi, yes I would like to support 2D gamedev. We can use this issue for feature requests/discussion.

Regarding physics, I think we could use Jolt also for 2D. I will investigate this and ask the author of the lib about perf implications.

[2022-09-06 09:37] Jack-Ji commented on #95
Great to heart that! Here's my wishlist:

* Sprites batching support (with optional shader effect)
* Tiled editor support
* 2D Physics
* Vector graphics
* Font system
* Animation system (3d also)
* Particle system (3d also)

Might be too much, feel free to take your pick 😊😁.

[2022-09-06 09:57] michal-z commented on #95
Regarding font system and UI - for my game, I plan to use font and UI system from dear imgui (zgui).

[2022-09-06 10:05] Jack-Ji commented on #95
Hmm, never thought of this. I only use imgui to make tools. For a game, I might choose
a more stylish one (with some animation behavior and colorful skins). Not sure if imgui can
deliver that.

[2022-09-06 10:21] michal-z commented on #95
I think it can with some code tweaks. I will be trying to do it for my games because I don't want to have another UI/font system. Will see how it goes.

[2022-09-07 08:22] #92 closed

[2022-09-07 08:22] #93 closed

[2022-09-08 13:26] hazeycode opened #97 "Large binaries in git tree"
Various dlls, exes and pdbs are checked into the repo. Could these be moved to LFS so that they may only be fetched if/when required?

[2022-09-08 18:21] michal-z commented on #97
It looks like they are stored as Git LFS files. Take a look at a screenshot.

![image](https://user-images.githubusercontent.com/11540112/189197107-e4a78ea7-5185-473e-aab8-7b42cb059a00.png)

[2022-09-08 19:36] hazeycode commented on #97
Oh, my mistake!

[2022-09-09 09:06] michal-z opened #99 "zgui: Example code using DrawList API in gui_test_wgpu sample app"

[2022-09-09 09:06] michal-z opened #100 "zgui: Example code using ImPlot API in gui_test_wgpu sample app"

[2022-09-09 09:16] michal-z opened #101 "jolt C bindings: Basic functions from JPH::Body class"
Similar to:
`JPH_Body_GetID(const JPH_Body *in_body);`

There are number of getters/setters like `Body::IsActive()`, `Body::SetMotionType()`, `Body::GetMotionType()` etc.

This issue can be closed once functions from `IsActive()` to `SetRestitution()` are implemented (in order, take a look at `Body.h` file).

[2022-09-09 13:27] hazeycode opened #102 "zwin32 fails to build with latest Zig"
zwin32 fails to build using the latest Zig compiler (0.10.0-dev.3900+ab4b26d8a)

fn ptr syntax has recently been changed.

[2022-09-09 14:12] michal-z commented on #102
Yes, Windows-only part of the project builds only with `-fstage1` atm.
We need to make this code compatible with stage3 compiler.

[2022-09-09 20:22] hazeycode commented on #102
I can fixup zwin32 this weekend probably, as a first step

[2022-09-09 21:27] michal-z commented on #102
That would be great.

[2022-09-09 21:55] marler8997 commented on #102
I just pushed a fix for zigwin32 if you want to use it for reference: https://github.com/marlersoft/zigwin32/commit/ff6245cda42adc6c3494bc4d8a5aaaa83c106e30

[2022-09-09 22:02] michal-z commented on #102
Nice! Thanks for the info.

[2022-09-11 00:58] hazeycode commented on #102
Started https://github.com/michal-z/zig-gamedev/pull/104

[2022-09-11 17:55] #101 closed

[2022-09-14 09:47] #99 closed

[2022-09-14 09:47] #100 closed

[2022-09-15 07:52] michal-z opened #109 "jolt C bindings: More functions from JPH::Body class"
This issue can be closed once functions from GetLinearVelocity() to AddTorque() are implemented (in order, take a look at Body.h file).

[2022-09-15 12:51] hazeycode commented on #109
I've started this one...

[2022-09-15 17:34] #109 closed

[2022-09-18 13:29] kamidev commented on #94
[code]

[2022-09-19 04:47] Jack-Ji opened #114 "zmesh obj loader"
I see zmesh.Shape can already be saved to disk in obj format. Any chance we can read it back to create a shape?

[2022-09-20 15:13] michal-z commented on #114
Actually saving to disk as obj is a debugging feature of underlying par_shapes C library.
Note that you can create an empty zmesh.Shape and generate the data yourself (or load it from gltf file).
What is your use case?

[2022-09-20 15:50] Jack-Ji commented on #114
I’m planning to write a simple 3d modeling tool, and zmesh seems a good fit for both mesh manipulation and serialization/deserialization.
How to load gltf into zmesh.Shape exactly? Can you show me some example?

[2022-09-23 08:20] michal-z commented on #114
Sorry for late reply. This is actually not supported with current API but should be easy to add. Will try do it next week.

[2022-09-25 18:46] #35 closed

[2022-09-25 18:47] #36 closed

[2022-09-25 18:47] #40 closed

[2022-09-29 23:33] leecannon opened #119 "zgui: 'webgpu/webgpu.h' file not found"
I'm unable to get zgui to work while following https://github.com/michal-z/zig-gamedev/blob/main/libs/zgui/README.md

build.zig
[code]

Error:
[code]

[2022-09-29 23:46] leecannon commented on #119
Example repo: https://github.com/leecannon/zgui_test

[2022-09-30 11:30] michal-z commented on #119
Thanks and sorry for the confusion. I have updated the instruction. Now it includes info how to setup rendering backend based on zgpu. Please let me know if the new instruction works for you.

[2022-09-30 15:54] michal-z commented on #119
I did one more simplification/clarification in `zgui` build script.

[2022-09-30 18:26] leecannon commented on #119
Thanks for this!

[2022-10-01 03:19] Pyrolistical opened #120 "Build checks for git submodule assets before pulling"
git submodules was add in https://github.com/michal-z/zig-gamedev/commit/0b6eed4d8023185cf3171b7cf55dce44838b3d79 but this check occurs before the submodule is pulled down: https://github.com/michal-z/zig-gamedev/blob/main/build.zig#L289

Workaround for now is to manually run:
`git submodule update --init --recursive`

[2022-10-01 03:42] Pyrolistical opened #121 "Add custom dawn library path for unprovided binaries"
[michal-z/dawn-bin](https://github.com/michal-z/dawn-bin) only contains binaries for macOS 12, but I'm still on macOS 11. Fortunately, I can manually build [hexops/mach-gpu](https://github.com/hexops/mach-gpu) using the [`-Ddawn-from-source`](https://github.com/hexops/mach-gpu/blob/main/build.zig#L21).

I managed to hack in the path to `libdawn.a` and got the demos working.

[code]

Unfortunately,

[2022-10-01 08:19] michal-z commented on #120
Thanks for the report!

[2022-10-01 08:20] #120 closed

[2022-10-01 08:23] michal-z commented on #121
Thanks for the report. Try to use our fork: https://github.com/michal-z/mach-gpu-dawn to build a binary.

I don't really have bandwidth to test and support older macOS versions. Is there a chance that you can upgrade to macOS 12?

[2022-10-01 08:31] Pyrolistical commented on #121
I'm on a late 2014 and big sur is the latest supported macos. Let me see if I can do an unsupported install of macos 12

[2022-10-01 08:41] michal-z commented on #121
What's the command line to build Dawn for macos 11?
```zig build -Dtarget=x86_64-macos.11```
?

[2022-10-01 09:16] michal-z commented on #121
Let me know how it went. If it won't work I can try to add support for macOS 11.

[2022-10-01 20:45] Pyrolistical commented on #121
I was able to update to macOS 12 using https://dortania.github.io/OpenCore-Legacy-Patcher/START.html

Just tested the samples and they work!

[2022-10-01 20:45] #121 closed

[2022-10-02 14:56] jowi-dev opened #122 "No member named source in struct std.build.pkig"
Opening for explanation of why I'm also opening a PR :D

after copying `zmath` into a project I'm working on and building I receive the following error (zig 0.9.1)

`./libs/math/zmath/build.zig:5:5 error: no member named 'source' found in struct 'std.build.Pkg'`

After changing `source` to be `path` the error went away. Do you prefer a fork & merge contribution or are PRs welcome?

Thank you for c

[2022-10-02 15:47] michal-z commented on #122
Hi and thanks for the report.

zig-gamedev project follows latest Zig compiler (0.10.x) we don't support older compiler versions.
`path` filed has been re-named to `source`  in 0.10.x and this is what we use.

I highly recommend upgrading to latest Zig.

[2022-10-03 06:29] #122 closed

[2022-10-03 13:37] jowi-dev commented on #122
Thank you! out of curiosity are you running nix locally for your env? I had tried to install zig from master but kept getting an error saying my LLVM wasn't on a late enough version.

(feel free to ignore just thought I'd shoot my shot). Thank you again for compiling these resources

[2022-10-03 14:27] michal-z commented on #122
I'm working on Windows and I also test on Ubuntu 22.04

Regarding Nix, this may be useful: https://github.com/mitchellh/zig-overlay

[2022-10-03 14:38] jowi-papa commented on #122
Interesting. I'm (I am jowi-dev) running POPOS w/ ubuntu 22.04 under it. I'll give it another try today and see. Thanks!

[2022-10-03 20:55] Pyrolistical opened #125 "zgui "Stacked modals" infinite loops"
zig version: 0.10.0-dev.4217+9d8cdb855
zig-gamedev commit: 9b7c28593ee3ae96ae1847d2d10a2d9c8dfccc07
zig target: x86_64-macos.12.6

1. Run `zig build triangle_wgpu-run`
2. Select Stacked modals

![Screen Shot 2022-10-03 at 1 51 37 PM](https://user-images.githubusercontent.com/463642/193680133-d43845dd-7569-4c20-bb39-1e98109fe608.png)

Goes into infinite loop:
[code]

[2022-10-03 23:02] #125 closed

[2022-10-04 06:11] meshula opened #126 "zgpu changes working dir"
Hi all, checkSystem in zgpu.zig accepts a content dir, but changes the dir to where the executable is located. We'd like it to not change the working directory, but to find Roboto-Medium.ttf (and anything else loaded subsequently) to come from the supplied content_dir. We're working around it right now by caching the cwd, allowing zgpu to do its thing, and then restore it, but really, we'd like to

[2022-10-04 06:46] michal-z commented on #126
Hi and thanks for the report.

`checkSystem()` has been removed in the latest version of `zgpu`. It wasn't a good idea to change the dir in a library function. Please update to the latest version if you can.

[2022-10-04 07:09] meshula commented on #126
Oh! I didn't notice it had been addressed. I haven't had a close enough eye on commits apparently.

Time to update, thanks for the note!

[2022-10-04 07:10] #126 closed

[2022-10-04 20:23] Pyrolistical opened #127 "Build breaks when submodule is pulled before git lfs is installed"
I'm setting up this repo on another computer, so I ran into the opposite problem of https://github.com/michal-z/zig-gamedev/issues/120.

Now on a clean build the submodule is pulled down first, but since gif lfs hasn't been installed yet, when it is checked out the lfs files remain broken.

The build instructions to run `git lfs install` and `git lfs pull` now also need to be updated to be run aga

[2022-10-04 21:09] michal-z commented on #127
Thanks for the report, this info is very helpful.

I think we can also fix this by running `git lfs install` instead of `git lfs version` in `ensureGitLfs()`.

This will ensure that git lfs is always installed before pulling the submodule.

[2022-10-04 22:47] #94 closed

[2022-10-07 12:06] Avokadoen opened #128 "Proposal for zjobs: a failable tryWait"
Realistically, some code that is executed in parallel might fail.

## A proposal on how to account for errors:

`schedule`, `Jobid` and `wait` could account for this:
- `schedule` can accept execute functions with a `!void` signature
- `JobId/Fields` can have one bit designated to mark it as a failable job
  - have one storage for non-failable jobs, and one for failable ones
- if you utilize `tryW

[2022-10-07 12:14] michal-z commented on #128
Thanks for the input. @garettbass what do you think?

[2022-10-07 16:00] garettbass commented on #128
I’m not opposed to the idea.  Right now I would instead pass the job a pointer to the output variable, could be any type, including an error, then check that variable after wait.

If we want to store error results from jobs in the job queue for retrieval after a job completes, we have room to do so in a job’s slot, or in an additional result queue.  Caveat being that the error result would be lost

[2022-10-07 18:34] michal-z commented on #128
Windows ThreadPool, enkiTS and Unity Job System all use task functions that always return `void`. I think that we should follow this approach. I would prefer to keep the `zjobs` API simple and report errors via data pointer passed to the job.

@Avokadoen Do you see problems with this solution?

[2022-10-07 20:05] Avokadoen commented on #128
I think @gmodarelli's suggestion is a nice workaround for now 👍

[2022-10-07 20:05] #128 closed

[2022-10-08 00:54] Pyrolistical opened #129 "zgpu: Memory leak in samples (Dawn leaks ~20KB per frame on macOS)"
It seems like all the samples have are leaking memory. One can detect this by observing the memory usage of the sample goes up over time.

zig version: 0.10.0-dev.4249+11dce7894
[code]

Here is a capture of the triangle sample's memory usage captured once per second:
[code]

In Activity Monitor memory usage seems to go up by 40 megabytes per second.

I commented out zgui and the leak remains.

[2022-10-08 01:20] Pyrolistical commented on #129
The oldest commit that still runs the triangle demo for me is `c0fcbfd1484d7d943248153533b2e553df291085` and it also leaks memory. I wonder if its env specific. I don't have access to another computer right now.

[2022-10-08 02:58] Pyrolistical commented on #129
The memory leaks is faster when the sample isn't being showing on screen. This is likely caused by an extremely high frame rate being off-screen and the memory leak is made more obvious.

I created a [memory-leak branch](https://github.com/Pyrolistical/zig-gamedev/tree/memory-leak) to run the triangle sample with `std.testing.allocator` to see if it catches the problem, but atlas it does not.

Run

[2022-10-08 11:45] michal-z commented on #129
This is a bug in Dawn and it affects only macOS. This should be fixed after we update to newer Dawn versions.

[2022-10-08 13:07] Avokadoen opened #130 "zjobs: use Thread.Condition instead of sleep?"
I'm just wondering if there is a reason `sleep` is used instead of `ResetEvent` for wait.
Has it been profiled to be faster?

I am willing to try to implement a ResetEvent based wait function if it has not been tested before.

@garettbass

[2022-10-08 14:12] Pyrolistical commented on #129
Thanks. I found it in the issue tracker https://bugs.chromium.org/p/dawn/issues/detail?id=1175

[2022-10-08 14:34] garettbass commented on #130
Thanks for the suggestion.  I am new to zig and was not aware of ResetEvent.  A PR is welcome.  I’m definitely no expert in this area, and just tried to create the simplest thing I could think of that might work.

[2022-10-08 14:40] garettbass commented on #130
Having read ResetEvent.zig, I think we could add a ResetEvent to each Slot (storage for pending jobs), we could call `reset` before executing a job, `set` after executing a job, and `waitForSet` instead of `sleep` when there is a `prereq`.  Does that sound right?

[2022-10-08 15:41] Avokadoen commented on #130
That sounds right. I double checked what I have used before and Conditions are probably what we want, not ResetEvent (my bad!)

A condition can be signaled and waited on. The tests in the file for Condition should be sufficient but I also used them in this file: https://github.com/Avokadoen/zig_vulkan/blob/main/src/modules/voxel_rt/brick/Worker.zig

Not currently at home to give more context. I'll

[2022-10-08 15:43] Avokadoen commented on #130
And btw zjobs is even more impressive if this is one of your first Zig projects! 😍

[2022-10-08 16:35] michal-z commented on #129
We were discussing this issue on Zig > game-dev channel: https://discord.com/channels/605571803288698900/634812978994085888/1008307672484954213

[2022-10-08 16:41] michal-z commented on #130
@garettbass also contributed `zpool` lib. Impressive work. There is also a chance we will get `zentity` some day :)

[2022-10-09 14:42] garettbass commented on #130
`zentity` is still in the works.  It is big, so I’m trying to break out smaller sections into useful libs, like `zjobs`.

[2022-10-09 18:54] Avokadoen commented on #130
I tried making a prototype for this. It should not be too hard but I see that it is more work than expected to refactor. Like all multithreading there seems to be a few ways to shoot yourself in the foot with this change. I will still look into it, but I'll not prioritize it currently because I have more pressing issues in my hobby project.

[2022-10-10 16:07] Pyrolistical commented on #95
I know this is exactly what you want, but I've implemented a 2D sample https://github.com/michal-z/zig-gamedev/tree/main/samples/instanced_pills_wgpu

What might be of interest to you is the sample does an object space to clip space transform with correct aspect ratio. https://github.com/michal-z/zig-gamedev/blob/main/samples/instanced_pills_wgpu/src/InstancedPillsWgpu.zig#L629

I'm only intereste

[2022-10-10 18:23] garettbass commented on #130
Still thinking about this.  Considering having `threadMain` create its own `Condition` instance on its stack, and whenever it finds no jobs waiting, it could insert its own `Condition` into a queue.  Then when a new job is added, we can wake the first `Condition` in that queue, ensuring that one slumbering thread has a chance to pull a job.  I think this would be more energy efficient than each th

[2022-10-12 08:17] Avokadoen commented on #130
How will this interact with prereq, either directly or with a combined jobs prereq?

[2022-10-13 05:24] foxnne opened #137 "zgui: Add icon font support for text icons."
Small issue, but I was hoping to use font-awesome icons in zgui, [similar to how Prime31 did with zig-upaya](https://github.com/prime31/zig-upaya/blob/master/src/deps/imgui/font_awesome.zig). For any interface it would be nice to have access to icons.

It looks like [here](https://github.com/prime31/zig-upaya/blob/b040acab13c7af00c3ce0eade03e1f3b0b1d5b02/src/upaya.zig#L222) is a good start.

[2022-10-13 05:39] foxnne commented on #137
It looks like [this](https://github.com/ocornut/imgui/issues/232#issuecomment-121622417) is also a useful issue, I'm trying to use [cozette](https://github.com/slavfox/Cozette/blob/master/img/charmap.png) which has some icon glyphs, but it looks like I need to be able to expand the default range using a config passed to `zgui.io.addFontFromFile` to make that work.

[2022-10-13 18:24] michal-z commented on #95
@Pyrolistical Looks nice. I think we can make a sample from it and then tweak, improve and potentially make a lib from this.

[2022-10-14 10:10] Jack-Ji commented on #114
Excellent. Now I only have to come up with a custom 3d format, or use obj, which is easy to parse myself. I'm closing the issue.

[2022-10-14 13:06] michal-z commented on #137
I think that all we need here is: `zgui.io.addFontFromFileWithConfig()` which is similar to `zgui.io.addFontFromFile()` but additionally takes `config` and `range'. And then the user should be able to use any glyphs from any font.

To make this happen we need to expose: `ImFontConfig` struct. Do you want to give it a try? As an example you could take a look at `zgui.InputTextCallbackData`.

[2022-10-14 13:57] foxnne commented on #137
Sure thing! I actually already got this change working locally and it all seems fine, I'll PR it soon, really appreciate it!

[2022-10-15 08:05] Jack-Ji opened #140 "zmesh: Shape.unweld eliminate texture coordinates"
Hi michal, as suggested by title of issue, I've noticed shape's texture coordinates becomes null after called Shape.unweld. Is it mandatory or configurable?

[2022-10-15 09:34] michal-z commented on #140
Yes, currently it removes normals and texcoords. There was a bug in the `par_shapes` library that caused crashes, I did a simple fix that removes those attributes. Note that normals can be easily regenerated with `computeNormals()` but texcoords are lost.

It should be pretty easy to handle texcoords correctly in `par_shapes_unweld()` C functions I think. We would have to copy them to each new ver

[2022-10-15 09:51] Jack-Ji commented on #140
Sure! I'll take a stab.

[2022-10-15 10:23] michal-z commented on #140
I actually did it but I'm not sure if it works correctly. Please take a look/test.

[2022-10-15 11:12] Jack-Ji commented on #140
I just reviewed and tested unweld operation, my sample works fine. Thank you for quick response!

[2022-10-15 11:12] #140 closed

[2022-10-15 16:57] #137 closed

[2022-10-20 22:10] Pyrolistical opened #143 "How to setup frame debug tools?"
Dawn offers debug markers https://dawn.googlesource.com/dawn/+/refs/heads/chromium/4527/docs/debug_markers.md

I tried setting up Microsoft PIX, but couldn't the project to run with WinPixEventRuntime. Copied both the .dll and .lib into `zig-gamedev/libs/zgpu/libs/dawn/x86_64-windows-gnu` but it didn't work.

I was able to run the project with Intel Graphics Frame Analyzer, but crashed when a fram

[2022-10-20 22:44] michal-z commented on #143
To capture a frame you can just run your application from PIX - it worked for me. WinPixEventRuntime is needed only if you want to mark "scopes" with `pushDebugGroup` and `popDebugGroup` (dll should be placed next to your app exe).

[2022-10-20 23:09] Pyrolistical commented on #143
Thanks! I got PIX to work. You need to launch the project with PIX in order to capture frames. Attach to running process doesn't work.

[2022-10-20 23:09] #143 closed

[2022-10-22 04:20] raegnar opened #144 "Unable to link zmesh"
Maybe I'm missing something basic, but I'm for some reason getting link errors when trying to link zmesh

[code]

Following all the instructions and steps as including any other zig-gamedev library, but this is the only one giving me trouble.

[code]

Am I missing something obvious?

[2022-10-22 11:07] michal-z commented on #144
Looks like you don't reference `zmesh` in your code and memory functions are not compiled. Do you call any of `zmesh` function?
Or try to add below code:

[code]

[2022-10-23 21:54] raegnar commented on #144
Yup, that was it, I falsely assumed I had to deal with the linker issue _before_ importing and using zmesh, which is what actually was causing the issue.
Thanks for the help!

[2022-10-23 22:02] raegnar commented on #144
Okay, that was pretty much it, I had falsely assumed I need to address the linker issue _before_ actually using zmesh, when in actuality the linker issue would remain _until_ I used zmesh.

Thanks for your help!

[2022-10-23 22:02] #144 closed

[2022-10-28 02:52] Pyrolistical opened #146 "zaudio: mismatch SoundImpl.createCopy function signature"
The call site passes in an `allocator`
[code]
https://github.com/michal-z/zig-gamedev/blob/main/libs/zaudio/src/zaudio.zig#L1687

But isn't defined on the implementation
[code]
https://github.com/michal-z/zig-gamedev/blob/main/libs/zaudio/src/zaudio.zig#L1908

I tried to fix it, but I then ran into some `unreachable` code and couldn't figure out where it was coming from.

[2022-10-28 03:06] foxnne opened #147 "Is there currently a way to define how images are presented in zgui?"
Hi!

Currently I am trying to implement zooming into a project that draws textures using zgui.

However, when zooming, textures become very blurry.
<img width="1392" alt="Screen Shot 2022-10-27 at 10 02 45 PM" src="https://user-images.githubusercontent.com/49629865/198488683-4cee05d9-c6f4-4dde-ace3-0b5745f9c4d4.png">

Is there a way to, either when drawing using `zgui.image()` or `draw_list.addIma

[2022-10-28 07:51] michal-z commented on #147
Hi,

Using nearest filtering is actually not supported in imgui, see here: https://github.com/ocornut/imgui/issues/5118

"At a high level there are two strategies:

A) Use ImGuiDrawList::AddCallback to insert a callback to change the texture filtering to nearest neighbor, draw your image, and then call AddCallback(ImDrawCallback_ResetRenderState) to reset the state.
B) Use ImGuiDrawList::AddCallba

[2022-10-28 08:09] michal-z commented on #146
Thanks for the info. I've fixed the mismatch.

Note, that:
"Cloning only works for data buffers (not streams) that are loaded from the resource manager."

In all other cases this function will report `InvalidOperation` error.

[2022-10-28 12:58] foxnne commented on #147
Yeah, that's pretty much the same conclusion I came to last night. I looked at drawing the images outside of zgui, but I feel like it would end up being a mess trying to clip the image to the child window for the canvas with scroll bars and all of that, and that keeping the image rendering within zgui would be best.

I'll look at exposing `ImGuiDrawList::AddCallback` and try to get it working in m

[2022-10-28 14:05] michal-z commented on #147
You will need to bind your custom rendering pipeline and sampler with nearest filtering and the issue a draw call.

[2022-10-28 15:58] foxnne commented on #147
Would it be any simpler for me to somehow just render _all_ zgui as nearest neighbor through zgpu? I'm a bit confused that I didn't run into this issue on the previous iteration of Pixi, I suppose [upaya](https://github.com/foxnne/zig-upaya) renders all imgui stuff with nearest neighbor...

[2022-10-28 16:08] michal-z commented on #147
Try to change filtering method here:
https://github.com/michal-z/zig-gamedev/blob/main/libs/zgui/libs/imgui/imgui_impl_wgpu.cpp#L534

[2022-10-28 16:14] foxnne commented on #147
This works!

[2022-10-28 16:18] michal-z commented on #147
This also affect text rendering, right? Does it look nice?

[2022-10-28 16:21] foxnne commented on #147
<img width="1392" alt="Screenshot 2022-10-28 at 11 20 13 AM" src="https://user-images.githubusercontent.com/49629865/198685319-133438fd-9fa1-4b1f-8508-1f5e8f75dcf1.png">

For me, it looks great, but I'm using a "pixely" font, so I would honestly prefer this font be nearest neighbor as well.

[2022-10-28 16:30] michal-z commented on #147
Looks very nice indeed! I think we should have an option to switch between samplers.

[2022-10-28 16:36] foxnne commented on #147
I'm not sure how to accomplish that without editing `imgui_impl_wgpu.cpp`, would you like me to still look into the `callback` route? Or do you have an idea to provide that option?

[2022-10-28 22:43] michal-z commented on #147
I will think about it some more - the simplest solution would be to provide an option in `zgui.backend.init()`. I will solve this issue next week.

[2022-10-29 23:14] Pyrolistical commented on #146
i didn't use it in the end. but thanks

[2022-10-29 23:14] #146 closed

[2022-10-31 17:58] michal-z commented on #147
@foxnne I've added `zgui.backend.initWithConfig()` which lets you select `nearest` texture filtering mode. Please take a look at `gui_test_wgpu` demo how to use it.

[2022-10-31 18:00] foxnne commented on #147
Fantastic, thank you so much for adding this!

[2022-11-01 13:17] michal-z commented on #147
@foxnne Can we close this issue?

[2022-11-01 14:04] foxnne commented on #147
Oh, my bad, closing!

[2022-11-01 14:04] #147 closed

[2022-11-01 18:51] raegnar opened #149 "How to pass a dynamic string to zgui widget"
How can I pass a dynamically created label to a widget, in this case `zgui.collapsingHeader`, I am constantly getting an error message:

`error: expected type '[:0]const u8', found '[]u8'`

Where the string being passed to collapsing header is created with `allocPrint`.

[code]

I've tried a bunch of other ways to do this to no avail.

[2022-11-01 19:04] michal-z commented on #149
You can use `zgui.formatZ()`:

[code]

[2022-11-01 19:48] raegnar commented on #149
Works! Thanks!

[2022-11-01 19:48] #149 closed

[2022-11-02 21:42] Symphonym opened #150 "zgui: Add bindings for tables API"

[2022-11-03 23:03] foxnne commented on #150
This is a really good first issue, I've been PR'ing things to zgui as I need them for my own projects.

[2022-11-05 19:25] Pyrolistical commented on #129
still leaks memory with
* zig-gamedev 5d64954d7570d336854af1b0fbfbde26fc626c76
* zig 0.11.0-dev.78+28288dcbb

[2022-11-05 21:06] michal-z commented on #129
Thanks for the info.

[2022-11-07 17:28] n4skx opened #154 "Error when trying to run the example"
My current operational system: **Windows 10 10.0.22000.1098**

What i tried to run:
[code]

So then it gives me a error:
[code]

Maybe i miss some step to run this example?

[2022-11-07 17:35] michal-z commented on #154
It should work fine. What Zig version do you use? Try to delete `zig-cache` folder and build again.

[2022-11-07 17:37] n4skx commented on #154
Hi, i'm using zig 0.10-dev.

[2022-11-07 17:40] n4skx commented on #154
After doing that it gives me new errors:

[code]

[2022-11-07 17:47] michal-z commented on #154
Looks very strange, like a corrupted build script.

Could you try official Zig builds from: https://ziglang.org/download/0.10.0/zig-windows-x86_64-0.10.0.zip

Also, try to re-clone the repo.

[2022-11-07 18:00] michal-z commented on #154
I've just re-tested with Zig 0.10.0 official build on Windows and all works fine for me.

[2022-11-07 18:10] n4skx commented on #154
Ohh, i have sayed Windows 10 but i'm currently in windows 11 tho

[2022-11-07 18:10] n4skx commented on #154
i tried to re-install zig on it but doesn't work again

[2022-11-07 18:22] n4skx commented on #154
After a time debugging i found this instruction causing the error:
![image](https://user-images.githubusercontent.com/117673364/200385464-037ab061-0e4e-45c4-bc67-237b371f587f.png)

So the error is when calling ``dawn::native::InstanceBase::InstanceBase``
![image](https://user-images.githubusercontent.com/117673364/200385741-58cda310-4cb3-427f-bd08-e56e327bdd60.png)

[2022-11-07 19:00] michal-z commented on #154
I'm also using Windows 11.
Could you take a look at `libs/zgpu/libs/dawn/x86_64-windows-gnu/dawn.lib` file? What is the exact size of it?

It should be: 38.5 MB (40,385,442 bytes)

[2022-11-07 19:13] michal-z commented on #154
Ok, I know what is happening. Dawn binaries use AVX/AVX2 instruction set and your CPU does not support it. I will upload new binaries that don't require AVX/AVX2.

[2022-11-07 19:18] n4skx commented on #154
Thanks!

[2022-11-07 19:18] #154 closed

[2022-11-07 19:27] michal-z commented on #154
It should work now, please fetch the latest code and re-build.

[2022-11-07 19:32] n4skx commented on #154
It worked!!!! Thanks!

[2022-11-08 08:28] michal-z opened #155 "zstbi: Add support for HDR images in `Image.loadFromMemory()`"
Similarly how it is done in `Image.loadFromFile()`.

[2022-11-11 23:01] foxnne opened #156 "zgpu: Crash when minimizing window on Windows"
Hi!

I haven't had a chance to test macos, but on Windows I'm getting a crash when trying to minimize the window, both in my project and with the example `gui_test_wgpu`.
[code]

I can try to look into this when I get some free time. Looks like maybe we don't handle a case where the swap chain is 0 sized.

[2022-11-12 02:52] foxnne commented on #156
Tested on macOS and no crash, looks like it may be Windows specifically passing a window resized event with 0 sized dimensions?

[2022-11-12 09:45] #156 closed

[2022-11-12 09:46] michal-z commented on #156
@foxnne It now works fine on Windows, could you also verify macOS?

[2022-11-12 13:38] foxnne commented on #156
Works fine on macOS, thanks for the fix!

[2022-11-12 17:15] foxnne opened #157 "zgui: Possible issue tied to dawn memory leak on macOS"
Issue backstory here: https://github.com/foxnne/pixi/issues/9

I haven't been able to repro this outside of my project yet, but I also haven't had much time to investigate. Just creating this issue from what we talked about on Discord.

I'm using [this zip library](https://github.com/kuba--/zip), and if I use zgui and load a zip file triggered from a selectable, 9/10 times it works fine, but somet

[2022-11-12 18:35] Pyrolistical commented on #95
@michal-z the font system in imgui seems pretty limited. ootb it doesn't support rotating/transform/scaling of text

[2022-11-12 18:37] michal-z commented on #157
Note that `Image.initFromData()` do not copy the data but keeps a reference to it. My guess - below code allocates the data and then releases it with `defer` code but `image` still keeps a reference to it. What do you think?

[code]

[2022-11-12 18:40] michal-z commented on #95
Do you mean our `zgui` wrapper or the `dear imgui` lib?

[2022-11-12 18:44] Pyrolistical commented on #95
Both? Unless you've added this functionality to zgui?

[2022-11-12 18:51] michal-z commented on #95
Nvm, I thought you mean that this functionality is present in `dear imgui` but that we just don't expose it yet.

[2022-11-12 18:53] michal-z commented on #95
We could render imgui text to a texture and then apply a transformation when drawing this texture to the back buffer.

[2022-11-12 19:00] foxnne commented on #157
Thanks! I just modified my code to use ```allocator.dupe()``` and store the raw data rather than letting it release at the end of the load scope, I'll try this out for a while and see if it remedies the bug.

[2022-11-12 19:06] Pyrolistical commented on #95
Yeah, that was my first thought as well, but the texture would need to be oversized in order to compensate for the rotation blur. Doable but cumbersome.

The ideal solution would transformed the text in the shader and render out pixel perfect.

[2022-11-12 19:18] michal-z commented on #95
Yes, trying it out is good idea, thanks!

[2022-11-12 19:32] foxnne commented on #157
Looks like this change fixed the issue, thank you so much for your help and apologies for the false alarm!

[2022-11-12 19:32] #157 closed

[2022-11-12 20:48] michal-z commented on #157
Great to here that! Happy I could help.

[2022-11-12 22:33] Pyrolistical commented on #137
Is there an example on how to use `addFontFromFileWithConfig`? I don't understand how to set the `ranges`.

I'm just trying make `˚` renderable in additional to the default text range.

[2022-11-12 22:42] michal-z commented on #137
https://github.com/foxnne/pixi/blob/main/src/pixi.zig#L185

[2022-11-12 23:09] Pyrolistical commented on #137
Thanks! That worked for me. I loaded the font with the default range, then merge in the additional range I want.

[code]

[2022-11-17 23:20] michal-z opened #159 "zgui: Update dear imgui 1.88 -> 1.89"

[2022-11-22 09:59] michal-z opened #161 "Bindings for PhysicsFS"
https://github.com/icculus/physfs
https://icculus.org/physfs/

[2022-11-26 19:13] Srekel opened #163 "Implement fast quaternion operations"
Don't have time to write a proper issue but this seemed interesting :)

https://twitter.com/FreyaHolmer/status/1596157832688279552

https://twitter.com/FreyaHolmer/status/1596286428920836096

Cool stuff by Freya!

[2022-11-30 10:34] michal-z commented on #95
Jolt Physics should get 2D support soon.